<?php if($this->isAllowedOnCheckout()): ?>
	<button id="facebook-login-btn" type="button" class="button facebook_login"><span><span><?php echo $this->__('Facebook') ?></span></span></button>
	<input type="hidden" name="afterlogin_redirect" id="afterlogin_redirect" value="<?php echo $this->getCheckoutUrl(); ?>">
<?php endif; ?>