<?php
/**
 * Login with Amazon
 *
 * @category    Amazon
 * @package     Amazon_Login
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
 */
?>


<?php

/**
 * More button styles: http://login.amazon.com/button-guide
 */

?>
<?php
if(Mage::getURL('checkout/onepage')==Mage::helper('core/url')->getCurrentUrl()){
    Mage::getSingleton('core/session')->setAmazonReturnUrl(Mage::helper('core/url')->getCurrentUrl());
}else if(Mage::getURL('amazon_login/customer/authorize',array('_secure'=>true))!=Mage::helper('core/url')->getCurrentUrl()){
    Mage::getSingleton('core/session')->unsAmazonReturnUrl();
}
?>
<div id="amazon-buttons-wrapper">
    <button class="button amazon-login-button small-height-btn" type="button">
      <span><span>login with amazon</span></span>
    </button>
</div>
