<?php
/**
 * Login with Amazon
 *
 * @category    Amazon
 * @package     Amazon_Login
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
 */
?>


<h2><?php echo $this->__('Verify Your Account'); ?></h2>

<div class="col2-set">

<p>This email address is currently associated with an existing customer account. Please log in to associate your Amazon account with this customer.</p>

    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
            <div class="col-1">
                <div class="content">
                    <ul class="form-list">
                        <li>
                            <label for="email"><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box">
                                <?php echo $this->escapeHtml($this->getEmail()) ?>
                            </div>
                        </li>
                        <li>
                            <label for="pass" class="required"><?php echo $this->__('Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="buttons-set">
                    <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left"><?php echo $this->__('Forgot Your Password?') ?></a>
                    <button type="submit" class="button" title="<?php echo $this->__('Login') ?>" name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>
                </div>
            </div>
    </form>
</div>

<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('login-form', true);
//]]>
</script>
