<?php

$lists = $this->getLists();
$myLists = $this->getSubscribedLists();
$generalList = $this->getGeneralList();
$canShowButton = $this->getCanShowButton();
$canmodify = $this->getCanModify();

?>
<h2 class="sub-title">Email Preferences</h2>
<div class="account-box a-left">
    <p class="avenir-light font-15">Enjoy all of what Ceci New York has to offer! Please use the form below to update your subscription preferences.</p>
    <div class="fieldset pd-top-15">
    <?php if ($canShowButton): ?>
    <form action="<?php echo $this->getSaveUrl(); ?>" name="mailchimp_additional" id="mailchimp-additional"
          method="post"><?php endif; ?>
        <div class="fieldset">
            <?php echo $this->getBlockHtml('formkey'); ?>
            <ul class="form-list">
                <?php if ($this->getShowGeneral()): ?>
                    <!-- General Subscription -->
                    <li class="listdata">
                        <?php if ($generalList['interest_groupings'] && is_array($generalList['interest_groupings'])): ?>

                            <div id="interest_groupings_<?php echo $generalList['id']; ?>" class="interest-groupings">
                                <?php foreach ($generalList['interest_groupings'] as $group): ?>
                                        <div class="grouping">
                                            <?php echo $this->renderGroup($group, $generalList); ?>
                                        </div>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>
                    </li>
                    <!-- General Subscription -->
                <?php endif; ?>
            </ul>

            <?php if (!$this->helper('customer')->isLoggedIn() && $canShowButton):
                $emailTile = $this->__('Enter your email address');
                ?>
                <input onclick="this.value=='<?php echo $emailTile; ?>'?this.value='':''"
                       onblur="this.value==''?this.value='<?php echo $emailTile; ?>':''" type="text" name="monkey_email"
                       id="monkey-email" value="<?php echo $emailTile; ?>"/>
            <?php endif; ?>
        </div>

        <input type="hidden" name="state" value="" id="form-state"/>

        <?php if ($canShowButton): ?>
            <div class="buttons-set">
                <button type="submit" title="<?php echo $this->__('Save') ?>" class="button">
                    <span><span><?php echo $this->__('Save') ?></span></span></button>
            </div>
        <?php endif; ?>
        <?php if ($canShowButton): ?></form><?php endif; ?>
        </div>
</div>
<script type="text/javascript">
    document.observe("dom:loaded", function () {

        removeManageNewsletter();

        //Handle newsletter subscribe/unsubscribe checkbox events
        $$('input.monkey-list-subscriber').each(function (chk) {

            if (!chk.checked) {
                var groupings = $('interest_groupings_' + chk.value);
                if (groupings) {
                    groupings.select('select', 'input').invoke('writeAttribute', 'disabled', 'disabled');
                }
            }

            chk.observe('change', function () {

                var groupings = $('interest_groupings_' + this.value);
                if (groupings) {
                    var elements = groupings.select('select', 'input');
                    if (this.checked) {
                        elements.invoke('removeAttribute', 'disabled');
                    } else {
                        elements.invoke('writeAttribute', 'disabled', 'disabled');
                    }
                }

            });
        });

        $$('.mailchimp_extra_field').each(function (field) {
            field.observe('change', function () {
                if (!$(field.name) && field.value != "") {
                    var inputer = new Element('input', {
                        id: field.name,
                        value: field.value,
                        type: "hidden"
                    });
                    $('form-state').appendChild(inputer);
                }
            });
        });

        //Load viewstate on hidden field for later process
        $('form-state').writeAttribute('value', $('mailchimp-additional').serialize());

    });
</script>
