<?php

$categories = Mage::getResourceModel('catalog/category_collection')
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('parent_id', Mage::registry('current_category')->getId())
    ->setOrder('position', 'ASC')
    ->addIsActiveFilter();
?>

<div class="col-1440">

    <ul class="grid-design-1 cat-pull-grid">

        <?php foreach ($categories as $category): ?>
            <li class="<?php echo 'category-' . $category->getUrlKey(); ?>">
                <a href="<?php echo $category->getUrl(); ?>">
                    <div class="rel-container">
                        <div class="overlay baron-normal cat-link"><span>Discover</span></div>
                        <img alt="<?php print($category->getName()); ?>" src="<?php echo Mage::getBaseUrl('media') . '/catalog/category/' . $category->getThumbnail(); ?>">
                    </div>
                    <div class="text-wrapper border-top-<?php echo $category->getCategoryBackground();?>">
                        <div class="bdr-grey">
                            <h3 class="caslon-book"><?php print($category->getDescription()); ?><span class="baron-normal"><?php print($category->getName()); ?></span></h3>
                        </div>
                    </div>
                </a>
            </li>
        <?php endforeach; ?>

        <?php /* ?>
							<li>
								<a href="#">
									<div class="overlay baron-normal"><span><?php echo $this->__('Discover'); ?></span></div>
									<img src="<?php echo $this->getSkinUrl('images/external/grid-banner-1.jpg') ?>" alt="Ceci Collections">
										<div class="text-wrapper border-top-brown">
											<h3 class="caslon-book">Let The Bells Ring <span class="baron-normal">Wedding</span></h3>
										</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="overlay baron-normal"><span>Discover</span></div>
									<img src="<?php echo $this->getSkinUrl('images/external/grid-banner-2.jpg') ?>" alt="Ceci Collections">
										<div class="text-wrapper border-top-purple">
											<h3 class="caslon-book">A Night to Remember <span class="baron-normal">Social & Parties</span></h3>
										</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="overlay baron-normal"><span>Discover</span></div>
									<img src="<?php echo $this->getSkinUrl('images/external/grid-banner-3.jpg') ?>" alt="Ceci Collections">
										<div class="text-wrapper border-top-orange">
											<h3 class="caslon-book">The Little Things <span class="baron-normal">Baby & Kids</span></h3>
										</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="overlay baron-normal"><span>Discover</span></div>
									<img src="<?php echo $this->getSkinUrl('images/external/grid-banner-4.jpg') ?>" alt="Ceci Collections">
										<div class="text-wrapper border-top-red">
											<h3 class="caslon-book">Where The Heart Is <span class="baron-normal">Home & Gifts</span></h3>
										</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="overlay baron-normal"><span>Discover</span></div>
									<img src="<?php echo $this->getSkinUrl('images/external/grid-banner-5.jpg') ?>" alt="Ceci Collections">
										<div class="text-wrapper border-top-cyan">
											<h3 class="caslon-book">Sincerely, Yours <span class="baron-normal">Personal Stationery</span></h3>
										</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="overlay baron-normal"><span>Discover</span></div>
									<img src="<?php echo $this->getSkinUrl('images/external/grid-banner-6.jpg') ?>" alt="Ceci Collections">
										<div class="text-wrapper border-top-blue">
											<h3 class="caslon-book">All Buttoned Up <span class="baron-normal">Corporate Events</span></h3>
										</div>
								</a>
							</li>
							 <?php */ ?>
    </ul>

    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('collection-getting-started')->toHtml(); ?>
    <?php /* Static block
						<div class="title-white-box baron-normal">Getting Started</div>
						<ul class="list-item-design-1 list-item-design-margin-btm">
							<li>
								<a href="#">
									<img src="<?php echo $this->getSkinUrl('images/external/grid-started-1.jpg') ?>" alt="Ceci Collections">
										<div class="text-wrapper baron-normal">
											wedding invitations
										</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="<?php echo $this->getSkinUrl('images/external/grid-started-1.jpg') ?>" alt="Ceci Collections">
										<div class="text-wrapper baron-normal">
											Luxe Accessories
										</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="<?php echo $this->getSkinUrl('images/external/grid-started-1.jpg') ?>" alt="Ceci Collections">
										<div class="text-wrapper baron-normal">
											Thank You Cards
										</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="<?php echo $this->getSkinUrl('images/external/grid-started-1.jpg') ?>" alt="Ceci Collections">
										<div class="text-wrapper baron-normal">
											Baby Announcements
										</div>
								</a>
							</li>
						</ul>
						<?php */ ?>

    <div class="btm-show-slides ptn-half-white">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('collection-bottom-section')->toHtml(); ?>
        <?php /* ?>
						<ul class="col-center block-row">
							<li class="block">
								<div>
									<a href="#">
										<img src="<?php echo $this->getSkinUrl('images/external/your-world.jpg') ?>" alt="Meet the Creator">
									</a>
								</div>
								<div>
									<h4 class="baron-normal">your world, Personalized</h4>
									<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id consectetur orci.</p>
								</div>
							</li>
							<li class="block">
								<div>
									<a href="#">
										<img src="<?php echo $this->getSkinUrl('images/external/ceci-design.jpg') ?>" alt="The Ceci Design Team">
									</a>
								</div>
								<div>
									<h4 class="baron-normal">The Ceci Design Team</h4>
									<p>Duis id risus nec elit interdum varius quis in risus. Mauris posuere tortor et consectetur rhoncus. Duis quis aliquam diam, et pharetra</p>
								</div>
							</li>
							<li class="block">
								<div>
									<a href="#">
										<img src="<?php echo $this->getSkinUrl('images/external/can-we-help.jpg') ?>" alt="Wedding Central - If the Shoe Fits">
									</a>
								</div>
								<div>
									<h4 class="baron-normal">Can We Help You?</h4>
									<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse commodo sapien ut sem condimentum fermentum.</p>
								</div>
							</li>
						</ul>
						<?php */?>
    </div>
</div>