<div class="page-title">
    <h1><?php echo Mage::helper('downloadable')->__('My Payment Profiles') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $profiles = $this->getProfiles(); ?>
<?php if(count($profiles)): ?>
			<?php $counter = 0; ?>
		<?php $linesize = 3;?>
		<?php foreach($profiles as $profile){?>		
			<?php $this->setCurrentProfile($profile); ?>
			<?php if($counter++%$linesize == 0){ ?>
				<ol class="profile_list">
			<?php }?>
				<li class="info-box <?php echo $counter%$linesize == 0?"last":"" ?>">
					<ul class="box-content">
						<li><label>Card type:</label><span><?php echo $this->getCardType()?></span></li>
						<li><label>Short card number:</label><span><?php echo $this->getShortCardNumber()?></span></li>
						<li><label>Card expiration:</label><span><?php echo $this->getProfileData("cardExpirationMonth") ?>/<?php echo $this->getProfileData("cardExpirationYear")?></span></li>
						<a href="<?php echo $this->getDeleteUrl() ?>" onclick="return confirm('<?php echo $this->__("Are you sure you want to remove profile?")?>')">Delete</a></li>
					</ul>
				</li>
			<?php if($counter%$linesize == 0 || $counter == sizeof($profiles)){ ?>
				</ol>
			<?php }?>
		<?php }?>
	</ul>
<?php else: ?>
	<p><?php echo Mage::helper('downloadable')->__('You do not have any saved profiles yet.'); ?></p>
<?php endif; ?> 

<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>