<?php
/**
 * Amazon Payments
 *
 * @category    Amazon
 * @package     Amazon_Payments
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
 */
?>
<?php /* Extensions placeholder */ ?>
<?php echo $this->getChildHtml('checkout.onepage.login.extra')?>
<div class="col2-set">
    <?php echo $this->getChildHtml('login_before')?>
    <div class="col-1 co-login">

        <h3 class="font-16"><?php echo $this->__('Login or Register') ?></h3>

        <ul class="checkout-login-list form-list">
            <li>
                <div class="radio">
                    <label class="active">
                        <input type="radio" class="user-switcher" id="opc-login" name="checkout-method" value="co-login" checked/>
                        Login
                    </label>
                </div>
            </li>
            <li>
                <div class="radio">
                    <label>
                        <input type="radio" class="user-switcher" id="opc-register" name="checkout-method" value="co-register"/>
                        Register
                    </label>
                </div>
            </li>
        </ul>

        <?php // echo $this->getChildHtml('col2_before')?>

        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

        <div class="user-type co-login" id="co-login" style="display: block;">

            <form id="login-form" action="<?php echo $this->getPostAction() ?>" method="post">
                <fieldset>
                    <?php echo $this->getBlockHtml('formkey'); ?>
                    
                    <ul class="form-list">
                        <li>
                            <label for="login-email" class="required"><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry validate-email" id="login-email" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" />
                            </div>
                        </li>
                        <li>
                            <label for="login-password" class="required"><?php echo $this->__('Password') ?></label>
                            <div class="input-box">
                                <input type="password" class="input-text required-entry" id="login-password" name="login[password]" />
                            </div>
                        </li>
                        <?php echo $this->getChildHtml('form.additional.info'); ?>
                    </ul>
                    <div class="buttons-set">
                        <a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>" class="avenir-book fp-link"><?php echo $this->__('Forgot your password?') ?></a>
                        <button type="submit" class="button small-height-btn" onclick="onepageLogin(this)"><span><span><?php echo $this->__('Log in') ?></span></span></button>
                    </div>
                </fieldset>
            </form>

        </div>

        <div class="user-type co-register" id="co-register" style="display: none;">
            
            <form id="brief-register" action="<?php echo $this->getUrl('customer/account/createpost'); ?>" name="brief-register" method="post">            
                <ul class="form-list">
                    <li>
                        <label><?php echo $this->__('First Name') ?></label>
                        <div class="input-box">
                            <input type="text" name="firstname" id="pop-firstname" class="input-text required-entry" placeholder="First Name" value=""/>
                        </div>
                    </li>
                    <li>
                        <label><?php echo $this->__('Last Name') ?></label>
                        <div class="input-box">
                            <input type="text" name="lastname" id="pop-lastname" class="input-text required-entry" placeholder="Last Name" value=""/>
                        </div>
                    </li>
                    <li>
                        <label><?php echo $this->__('Email Address') ?></label>
                        <div class="input-box">
                            <input type="email" name="email" id="pop-email_address" class="input-text required-entry validate-email" placeholder="Email Address" value=""/>
                        </div>
                    </li>
                    <li>
                        <label><?php echo $this->__('Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="password" id="pop-password" class="input-text required-entry validate-password" placeholder="Password" value=""/>
                        </div>
                    </li>
                    <li>
                        <label><?php echo $this->__('Confirm Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="confirmation" id="pop-confirmation" class="input-text required-entry validate-cpassword" placeholder="Confirm Password" value=""/>
                        </div>
                    </li>   
                </ul>
                <div class="buttons-set">
                    <button type="submit" class="button small-height-btn"><span><span><?php echo $this->__('Register') ?></span></span></button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-2 co-register">
        <h3 class="font-16"><?php echo $this->__('Login with Amazon or Facebook') ?></h3>
        <p>Sign in with your Amazon or Facebook account details to use your saved information.</p>
        <div class="social-login-wrapper">
            <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                <?php echo $this->getChildHtml('amazon_login.button') ?>
                <button class="button facebook_login small-height-btn" type="button"><span><span><?php echo $this->__('Login with Facebook') ?></span></span></button>
            <?php endif; ?>
        </div>
            <?php echo $this->getChildHtml('amazon_login.script') ?>
        <div class="social-login-loading" style="display: none;">
            <div style="text-align:center;"><img src="<?php echo $this->getSkinUrl('images/preloader.gif') ?>" /></div>
        </div>
    </div>
</div>

<div class="external-checkout">
    <h3><?php echo $this->__('Pay with Amazon or Paypal') ?></h3>
    
    <div class="external-co-options">
        <div class="new-amazon-wrapper button">
            <span class="btn-label amazon-login-button">Pay with Amazon</span>
            <?php echo $this->getChildHtml('col2_before'); ?>
            <!--a href="javascript:void(0);" class="amazon-checkout-btn">amazon checkout</a-->
        </div>
        <div class="new-paypal-wrapper button">
            <a href="<?php echo $this->getUrl('paypal/express/start/')  ?>" target="_blank" class="paypal-checkout-btn"><?php echo $this->__('paypal checkout') ?></a>
        </div>
    </div> 
</div>

<script type="text/javascript">
//<![CDATA[
    var loginForm = new VarienForm('login-form', true);
    var registerForm = new VarienForm('brief-register', true);

    $('login-email').observe('keypress', bindLoginPost);
    $('login-password').observe('keypress', bindLoginPost);
    function bindLoginPost(evt){
        if (evt.keyCode == Event.KEY_RETURN) {
            loginForm.submit();
        }
    }
    function onepageLogin(button)
    {
        if(loginForm.validator && loginForm.validator.validate()){
            button.disabled = true;
            loginForm.submit();
        }
    }
//]]>
</script>
