<div class="my-account">
   <h2 class="sub-title">My design projects</h2>

    <?php if($this->getItemCount()): ?>
        <ul>
            <?php foreach( $this->getCustomerDesignProjects() as $designProject ): ?>
                <li>
                    <?php echo ($designProject->designProjectStatus) ? "*" : ""; ?>
                    <?php echo $designProject->designProjectName; ?>
                <a href="<?php echo Mage::getBaseUrl().'design/projects/remove/'.$designProject->getId() ?>">Remove</a>
                    <a href="<?php echo Mage::getBaseUrl().'design/projects/setActiveDesignProject/'.$designProject->getId() ?>">Activate</a>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>

    <div>
        <?php echo $this->getChildHtml('designprojectsform') ?>
    </div>
</div>