<?php
$productId = $this->getProductId();

$_product = Mage::getModel('catalog/product')->load($productId); //load the product

$giftcardSample = $this->getLayout()->createBlock('cms/block')->setBlockId('gift_card_sample')->toHtml();


$giftcardAmounts = array();
foreach( $_product->getData("giftcard_amounts") as $giftcardAmount ) {
    $giftcardAmounts[] = $giftcardAmount['website_value'];

}

asort($giftcardAmounts);
?>


<div class="giftcard-wrapper">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('gift_card_top_text')->toHtml(); ?>
    <div class="giftcard-content pd-top-20">
        <div class="wd2 f-left a-center">
            <div class="gift-image">
                <img src="http://cecinyc-com.pixafyhosting.com/media/wysiwyg/gift-card.jpg" alt="">
            </div>
            <div class="gift-card-balance">
                <!--form class="form-list"-->
                <div class="form-list">
                    <label class="avenir-medium">Check Gift Card Balance</label>
                    <input type="text" id="giftcardCode" class="input-text" placeholder="Gift Card Code">
                    <div class="clr-both pd-top-10 a-left">
                        <button id="checkGiftCardBalance" class="button small-button"><span><span>Check</span></span></button>
                    </div>

                </div>
                
            </div>
        </div>
        <div class="wd2 f-right a-center gift-right-form">

            <form action="<?php echo $this->helper('checkout/cart')->getAddUrl($_product);?>" method="post" id="product_addtocart_form">
                <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey();  ?>">
                <div class="no-display">
                    <input type="hidden" name="product" value="31">
                    <input type="hidden" name="related_product" id="related-products-field" value="">
                </div>
 
                <!-- <div id="validationError"></div> -->
   
                <ul class="form-list">
                    <li>
                        <select name="giftcard_amount" id="giftcard_amount" class="required-entry">
                            <option value="">Choose an Amount...</option>
                            <?php foreach($giftcardAmounts as $giftcardAmount): ?>
                                <option value="<?php echo $giftcardAmount ?>">$<?php echo $giftcardAmount.".00" ?></option>
                            <?php endforeach; ?>

                        </select>
                    </li>
                    <li>
                        <input type="text" id="giftcard_sender_name" name="giftcard_sender_name" class="required-entry input-text" value="" placeholder="Your Name">
                    </li>
                    <li>
                        <input type="text" id="giftcard_sender_email" name="giftcard_sender_email" class="validate-email required-entry input-text" value="" placeholder="Your Email">
                    </li>
                    <li>
                        <input type="text" id="giftcard_recipient_name" name="giftcard_recipient_name" class="required-entry input-text" value="" placeholder="Recipient's Name">
                    </li>
                    <li>
                        <input type="text" id="giftcard_recipient_email" name="giftcard_recipient_email" class="validate-email required-entry input-text" value="" placeholder="Recipient's Email">

                    </li>
                    <li>
                        <textarea name="giftcard_message" id="giftcard_message" class="required-entry input-text giftcard-message-max-length" cols="5" rows="3" placeholder="Message"></textarea>

                        <script type="text/javascript">
                            Validation.add('giftcard-message-max-length', 'Maximum length of the message is 255 characters.', function(v) {
                                return v.length <= 255;
                            });
                        </script>
                    </li>
                </ul>
      
                <script type="text/javascript">
                    //<![CDATA[
                    if ($('giftcard_amount') && $('giftcard_amount_input')) {
                        $('giftcard_amount_input').hide();
                        $('giftcard_amount_box').hide();
                        $('amount_label_input').hide();
                        Event.observe($('giftcard_amount'), 'change', switchGiftCardInputs);
                    }

                    function switchGiftCardInputs()
                    {
                        if (!$('giftcard_amount') || !$('giftcard_amount_input')) {
                            return;
                        }

                        value = $('giftcard_amount').options[$('giftcard_amount').selectedIndex].value;
                        if (value == 'custom') {
                            $('giftcard_amount_input').show();
                            $('giftcard_amount_box').show();

                            $('amount_label_select').hide();
                            $('amount_label_input').show();
                        } else {
                            $('giftcard_amount_input').hide();
                            $('giftcard_amount_box').hide();

                            $('amount_label_select').show();
                            $('amount_label_input').hide();
                        }
                    }

                    switchGiftCardInputs();
                    //]]>
                </script>

                <script type="text/javascript">
                    //< ![CDATA[
                        var customForm = new VarienForm('product_addtocart_form');
                    //]]>
                </script>
                <div class="options-container-small clearfix pd-btm-20">
                    <div class="product-options-bottom">
                        <div class="add-to-cart">
                            <input type="hidden" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty">
                            <button type="submit" title="Add to Cart" id="product-addtocart-button" class="button f-left"><span><span>Add to Bag</span></span></button>
                        </div>
                    </div>
                </div>

            </form>
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('gift_card_bottom_text')->toHtml(); ?>
        </div>

    </div>
</div>

<?php if($giftcardSample): ?>
    <div id="giftcard-sample" class="white-popup zoom-anim-dialog mfp-hide giftcard-sample">
        <div class="modal-container">
            <?php echo $giftcardSample; ?>
        </div>
    </div>
<?php endif; ?>