<meta property="fb:app_id" content="<?php echo Mage::getStoreConfig('pixfacebook/connection/id', Mage::app()->getStore()); ?>"/>
<meta property="og:site_name" content="cecinewyork.com" />
<meta id="og_url" property="og:url" content="" />
<meta id="og_title" property="og:title" content="" />
<meta id="og_desc" property="og:description" content="" />
<meta id="og_image" property="og:image" content="" />