<table cellspacing="0" class="form-list">
    <tbody>
    <tr>
        <td class="label"><label for="image_type">Select image type</label></td>
        <td class="value">
            <select name="product[motif_photo_selection][]" class="select multiselect" size="3" multiple="multiple">
                <option>Motif</option>
                <option>Photo</option>
            </select>
        </td>
        <td class="scope-label"><span class="nobr"></span></td>
    </tr>
    <tr>
        <td>
            <input type="file" class="" name="product[motif_photo_image_file]">
        </td>
    </tr>
    </tbody>
</table>

<?php
$productId = Mage::app()->getRequest()->getParam('id');
$product = Mage::getModel('catalog/product')->load($productId);
?>

<div>
    <h1>Motif images</h1>
    <ul>
    <?php foreach($product->getMotifImages() as $motifImage): ?>
        <li style="display: inline-block;">
            <img src="<?php echo Mage::getBaseUrl('media').DS."product".DS."motif_photo".DS."thumbnail".DS.$motifImage->filename ?>">
            <div>
            Remove: <input type="checkbox" name="product[motif_image][remove][<?php echo $motifImage->getId() ?>]">
            Activate: <input type="radio" name="product[motif_image][activate][]" value="<?php echo $motifImage->getId() ?>" <?php echo ($motifImage->status) ? 'checked="checked"' : '' ?> >
            </div>
        </li>
    <?php endforeach; ?>
    </ul>
</div>

<div>
    <h1>Photo Images</h1>
    <ul>
    <?php foreach($product->getPhotoImages() as $photoImage): ?>
        <li style="display: inline-block;">
            <img src="<?php echo Mage::getBaseUrl('media').DS."product".DS."motif_photo".DS."thumbnail".DS.$photoImage->filename ?>">
            <div>
            Remove: <input type="checkbox" name="product[photo_image][remove][<?php echo $photoImage->getId() ?>]">
            Activate: <input type="radio" name="product[photo_image][activate][]" value="<?php echo $photoImage->getId() ?>" <?php echo ($photoImage->status) ? 'checked="checked"' : '' ?> >
            </div>
        </li>
    <?php endforeach; ?>
    </ul>

</div>


<pre>
