
/* Onepage Checkout  ================================================================= */

/* Login / Register */

.co-login h3,
.co-register h3 {
	margin-bottom: 25px;
}

.opc .checkout-login-list {
	margin-bottom: 12px;
}

.opc .user-type .input-box {
	max-width: 330px;
	padding-right: 32px;
}

.opc .user-type .button {
	float: left;
	margin-left: 0;
}

.opc .co-login .button {
	margin-top: 32px;
}

.opc .co-register .button {
	margin-top: 17px;
}

.opc .fp-link:hover {
	color: #bda570;
}

.opc .user-type .input-text {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	-webkit-box-shadow: inset 0 0 2px rgba(190,167,114,0.9);
	-moz-box-shadow: inset 0 0 2px rgba(190,167,114,0.9);
	box-shadow: inset 0 0 2px rgba(190,167,114,0.9);
}

.opc .user-type .validation-error .input-text {
	-webkit-box-shadow: inset 0 0 2px rgba(217,26,0,0.9);
	-moz-box-shadow: inset 0 0 2px rgba(217,26,0,0.9);
	box-shadow: inset 0 0 2px rgba(217,26,0,0.9);
}

.opc .external-checkout {
	border-top: 1px solid #d7d7d7;
	padding: 35px 0;
}

.opc .external-checkout h3 {
	margin-bottom: 25px;
	text-align: center;
}

.opc .validation-advice {
	text-align: left;
}

#checkout-step-login .form-list label , 
#checkout-step-login .form-list .label {
	width: 100%;
}

.external-checkout .external-co-options {
	text-align: center;
}

.external-co-options .new-amazon-wrapper ,
.external-co-options .new-paypal-wrapper {
	display: inline-block;
}

.new-amazon-wrapper.button ,
.new-paypal-wrapper.button{
	height:30px;
	margin: 0 5px;
	padding-left: 12px;
	border-radius:5px 5px 5px 5px;
	background-color: rgb(167, 139, 83);
	background-image:linear-gradient(-90deg, rgb(190, 167, 114), rgb(190, 167, 114) 50%, rgb(167, 139, 83));
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(190, 167, 114)), color-stop(0.5, rgb(190, 167, 114)), to(rgb(167, 139, 83)));
	background-image:-moz-linear-gradient(-90deg, rgb(190, 167, 114), rgb(190, 167, 114) 45%, rgb(167, 139, 83));
	-webkit-box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.4);
	-moz-box-shadow:0 1px 2px 0 rgba(50, 50, 50, 0.4);
	box-shadow:0 1px 2px 0 rgba(50, 50, 50, 0.4);
	overflow: hidden;
	cursor: pointer;
}

.new-amazon-wrapper.button:hover ,
.new-paypal-wrapper.button:hover{
	background-color: rgb(167, 139, 83);
	background-image:linear-gradient(-90deg, rgb(167, 139, 83), rgb(190, 167, 114) 50%, rgb(190, 167, 114));
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(167, 139, 83)), color-stop(0.5, rgb(190, 167, 114)), to(rgb(190, 167, 114)));
	background-image:-moz-linear-gradient(-90deg, rgb(167, 139, 83), rgb(190, 167, 114) 45%, rgb(190, 167, 114));
	-webkit-box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0 1px 2px 0 rgba(50, 50, 50, 0.4);
	box-shadow:         0 1px 2px 0 rgba(50, 50, 50, 0.4);
}

.new-amazon-wrapper .btn-label ,
.new-paypal-wrapper .paypal-checkout-btn {
	font-family: 'baron_neuenormal_50';
	text-transform: lowercase;
	font-size: 14px;
	line-height: 32px;
	color: #fff;
	background-position: 100% 0;
	padding: 0 20px 0 30px;
	white-space: nowrap;
}

.new-amazon-wrapper .btn-label {
	background: url(../../images/icon-amazon.png) 0 0 no-repeat;
}

.new-paypal-wrapper .paypal-checkout-btn {
	background: url(../../images/icon-paypal.png) 0 0 no-repeat;
}

.new-amazon-wrapper #AmazonPayButtonAdditional {
	width: 100%;
	opacity: 0;
}

/* Billing */

.pix-selectable-trigger:hover {
	color: #000;
}

/* Shipping and Gift Options */

#allow-gift-options-for-items-container .ez-checkbox {
	display: inline-block;
	margin-right: 5px;
}

/* Progress Bar */

#carttotal-myprogress {
	overflow: hidden;
	letter-spacing: 0;
}

#carttotal-myprogress .totals-label {
	font-family: 'Avenir LT W01 65 Medium';
  	font-weight: normal;
  	font-style: normal;
  	font-size: 12px;
  	text-transform: capitalize;
	display: block;
	clear: left;
	float: left;
	max-width: 115px;
	margin-bottom: 20px;
}

#carttotal-myprogress .totals-label.subtotal {
	font-family: 'Avenir LT W01 95 Black';
}

#carttotal-myprogress .price {
	font-family: 'Avenir LT W01 95 Black';
	font-size: 12px;
	display: block;
	float: right;
	text-align: right;
}


#payment-progress-opcheckout dd strong {
	display: none;
}

#payment-progress-opcheckout dd span {
	font-family:'ITC Caslon 224 W01 Book' !important;
	font-size: 14px !important;
    letter-spacing: 0 !important;
    width: 180px;
    display: block;
}

/* Cart  =============================================================================== */

a:hover .product-name {
	color: #bea772;
}

a:hover .cat-name , 
a:hover .ship-desc  {
	color: #000;
}

.remove-link:hover {
	text-decoration: none;
}


.waiver-wrapper .link-agree {
	color: #bea772;
	text-decoration: underline;
}

.waiver-wrapper .link-agree:hover ,
.mini-products-list .product-details a:hover {
	text-decoration: none;
}

.top-cart .paypal-logo {
	display: none;
}

.checkout-cart-index .paypal-logo a {
    width: 110px;
    height: 34px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background: url(../../images/btn-paypal.png) no-repeat -5px 0;
}

.checkout-cart-index .paypal-logo img {
	display: none;
}



/* Newsletter Sign Up  ================================================================= */

.modal-subsc-form  .validation-advice {
	text-align: left;
}

.modal-subsc-form .ez-checkbox .validation-advice {
	position: absolute;
	bottom: -3px;
	left: 19px;
	min-width: 150px;
	text-align: center;
	border: 1px solid red;
	background: #fff;
}

.modal-subsc-form .checkbox.validation-failed {
	border: 1px solid red;
}

.modal-subsc-form .ez-checkbox.failed {
	border: 1px solid red;
}

.colored-modal .disc-list {
	list-style-position: inside;
} 

.colored-modal .checkbox {
	overflow: visible;
}

.black-modal .button.subscribe-black-btn:hover {
	background: url(../../images/button-subscribe.jpg) no-repeat 0 -42px;
	width: 172px;
	height: 42px;
	border-radius: 0;
	text-indent: -9999px;
	direction: ltr;
	box-shadow: none;
}

/* Grid  ================================================================= */

.grid-left , 
.grid-right {
	margin-bottom: -1px;
}


/* Gift Card Modal  ================================================================= */

.giftcard-sample img {
    width: 100%;
}

/* Amazon Payment ================================================================= */


/* Amazon Account Verification */

.amazon-login-customer-verify .col3-layout .col-wrapper {
	width: 985px;
	float: none;
	margin: 0 auto;
}

.amazon-login-customer-verify .breadcrumbs-wrapper , 
.amazon-login-customer-verify .sidebar {
	display: none;
}

.amazon-login-customer-verify .col3-layout .col-wrapper .col-main {
	display: block;
	width: 755px;
	border: 1px solid #d3d3d3;
	margin: 70px auto;
	float: none;
	background-color: #fff;
    padding: 30px;

    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 2px 0 rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=2, Direction=0) , progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=2, Direction=90) , progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=2, Direction=180) , progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=2, Direction=270);
}

.amazon-login-customer-verify h2 {
	margin-bottom: 25px;
}

.amazon-login-customer-verify .col2-set p {
	font-size: 12px;
}

.amazon-login-customer-verify #login-form {
	display: block;
	margin-top: 25px;
}

.amazon-login-customer-verify #login-form .input-text {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: inset 0 0 2px rgba(190,167,114,.9);
    -moz-box-shadow: inset 0 0 2px rgba(190,167,114,.9);
    box-shadow: inset 0 0 2px rgba(190,167,114,.9);
}

.amazon-login-customer-verify .buttons-set a {
	font-family: 'Avenir LT W01 45 Book';
    font-weight: normal;
    font-style: normal;
	font-size: 12px;
    display: block;
    text-decoration: underline;
}

.amazon-login-customer-verify .buttons-set a:hover {
	text-decoration: none;
}

.amazon-login-customer-verify .buttons-set button.button {
	height: 32px;
	float: left;
    clear: both;
    margin: 32px 0 0;
}

/* Amazon Onepage Checkout About You */

#checkout-step-login .col2-set.amaz-payment-login-cancel {
	padding: 0;
}

#checkout-step-login .amaz-payment-intro {
	display: block;
    padding: 0 30px 15px;
}

#checkout-step-login .amaz-payment-login-cancel .col-1 button.button {
	float: none;
    margin: 0 auto;
    min-width: 150px;
    display: block;
}

#checkout-step-login .col2-set.amaz-payment-login-cancel .col-2 .buttons-set {
	margin-top: 15px;
	margin-left: 10px;
}

.amazon-redirect-btn {
	display: none;
}

/* Artistry / Original Fine Arts 
================================================================= */

.plain-slides .video-suggestion {
	display: none;
}

#artistryarts .expand-open {
	max-height: 100%;
}

#artistryarts .video-more {
	padding-top: 0;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.video-more h3 {
	margin: 35px 0;
	color: #000;
	font-size: 18px;
}

.video-more ul {
	width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

.video-more li {
	width: 23.95%;
    float: left;
    margin-bottom: 18px;
    margin-left: 1.4%;
}

.video-more li:nth-of-type(1){
	margin-left: 0;
}

.video-more li:nth-of-type(4n+1){
	margin-left: 0;
	clear: left;
}

.video-more li img {
	width: 100%;
	margin-bottom: 18px;
}

.video-more li span {
    display: block;
    text-align: left;
    font-family: 'baron_neuenormal_50'; 
 	text-transform: lowercase; 
 	font-size: 12px;
 	letter-spacing: 1px;
}

.video-more .more-options {
	padding: 30px 0 50px;
}

.video-more .more-options a {
	text-decoration: underline;
}

.video-more .more-options a:hover {
	text-decoration: none;
	color: #bea772;
}

.video-more .more-options .or {
	font-family: 'ITCCaslon224W01-BookIt';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}
