<?php
/**
 * Login with Amazon
 *
 * @category    Amazon
 * @package     Amazon_Login
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
 */
?>


<?php

/**
 * More button styles: http://login.amazon.com/button-guide
 */

?>
<div id="amazon-buttons-wrapper" class="col2-set">
    <div class="col-1">
        <div class="amazon-login-button-wrapper">
            <strong>- <?php echo $this->__('OR'); ?> -</strong>
            <br />

            <button class="amazon-login-button" style="cursor:pointer; background:none; border:0;">
              <img src="<?php echo $this->getButtonImage(); ?>" alt="Login with Amazon" border="0" />
            </button>
        </div>
    </div>
</div>
