<?php
/**
 * Login with Amazon
 *
 * @category    Amazon
 * @package     Amazon_Login
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
 */
?>

<?php
/**
 * Authorize JavaScript only used for full-page redirect
 */
?>

<div id="amazon-root"></div>

<script type='text/javascript'>
function getURLParameter(name, source) {
    return decodeURIComponent((new RegExp('[?|&|#]' + name + '=' +
                    '([^&;]+?)(&|#|;|$)').exec(source)||[,""])[1].replace(/\+/g,
                '%20'))||null;}

var accessToken = getURLParameter("access_token", location.hash);

if (typeof accessToken === 'string' && accessToken.match(/^Atza/)) {
    document.cookie = "amazon_Login_accessToken=" + accessToken + "; path=/";
    window.location.replace(window.location.pathname + '?nopopup=1&access_token=' + encodeURIComponent(accessToken));
}

</script>