<?php if($this->isAllowedOnRegister()): ?>
	<div class="facebook-account-login">
		<div class="page-title">
			<h1><?php echo $this->__('Login or Create an Account with Facebook') ?></h1>
		</div>
		<p>
			<button type="button" class="button facebook_login"><span><span><?php echo $this->__('Login with Facebook') ?></span></span></button>
			<?php echo $this->__(" using your facebook credentials. If your account not exist we will create it for you automaticaly using your facebook acoount information.")?>
		</p>
		<input type="hidden" name="afterlogin_redirect" id="afterlogin_redirect" value="<?php echo $this->getRegisterUrl(); ?>">
	</div>
<?php endif; ?>