
<form action="<?php echo $this->getUrl('design/projects/save') ?>" method="post">
    <input type="hidden" name="design_project_status" value="1">
    Design project: <input type="text" name="design_project_name">
    <button type="submit">Create</button>
</form>