
<div id="topmydesign" class="top-mydesign tray-block">
    <div class="block-title">
        <i onclick="Enterprise.TopCart.hideCart()" class="icon-brush"></i><span class="calson-book-italic"><?php echo $this->getItemCount(); ?></span>
    </div>
    <div class="block block-wishlist block-content" id="topMyDesignContent" style="display:none">
        <div class="inner-wrapper">
            <i onclick="Enterprise.TopMyDesign.hideMyDesign()" class="close-btn icon-cancel"></i>

                <?php if($this->getItemCount()): ?>
                <ol class="mini-products-list">
                    <?php foreach( $this->getCustomerDesignProjects() as $designProject ): ?>
                        <li class="item">
                            <a class="product-image" title="Wedding Project" href="#"><img alt="Wedding Project" src="<?php echo $this->getSkinUrl('images/external/top-cart-thumb.png') ?>"></a>
                            <div class="product-details">
                                <?php echo ($designProject->designProjectStatus) ? '*' : ''; ?>
                                <p class="product-name"><a href="#" class="baron-normal"><?php echo $designProject->designProjectName; ?></a></p>

                                <a class="avenir-light" href="<?php echo Mage::getBaseUrl().'design/projects/remove/'.$designProject->getId() ?>">Remove</a>
                                <div>Products: <?php echo ($totalItems = $this->getTotalQuoteItemsForDesignProject($designProject->getId())) ? $totalItems : ''; ?>
                                    </div>
                            </div>
                        </li>

                    <?php endforeach; ?>
                </ol>
                <div class="actions">
                    <a href="#" class="button">view all projects</a>
                </div>
                <?php else: ?>
                     <p class="cart-empty">
                        <?php echo $this->__('Please') ?> <a class="sign-in" href="#"><?php echo $this->__('sign in') ?></a> <?php echo $this->__('to view your projects.'); ?>
                    </p>
                <?php endif; ?>

        </div>
    </div>
</div>


