<?php
if ($this->getProfilesSelectHtml()) {
    ?>
    <li class="never_hide">
        <div class="cybersource-field-wrapper">
            <label for="cc_profile" class="required"><?php echo $this->__('Saved Credit Card') ?></label>
            <div class="input-box">
                <div class="half-left-box">
                    <select id="cc_profile" name="payment[cc_profile]" class="never_disable">
                        <?php echo $this->getProfilesSelectHtml(); ?>
                    </select>
                    <script>var _csProfile = new csProfile();</script>
                </div>
                <div class="half-right-box btn-box">
                    <button class="button black-btn" type="button" onclick="$j('#cc-profile').val('').change();"><span><span>Add New Credit Card</span></span></button>
                </div>
            </div>
        </div>
    </li>
    <?php //echo $this->getChildHtml('pixcybersource_profiles_account_list'); ?>
<?php }


?>