<?php
// All orders //
$_helper = $this->helper('pixcatalog/orders');


if($this->getRequest()->getParam('p')) {
    $_orders = $this->getOrders()
        ->setCurPage($this->getRequest()->getParam('p'));

} else {
    $_orders = $this->getOrders();
}

$orderProgress = $_helper->getOrderProgression();

?>
<?php
// Get the current path
$currentUrl = Mage::helper('core/url')->getCurrentUrl();
$url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
$path = $url->getPath();

// Set the order type based on path
$ordersTypeParts = array_filter(explode("/", $path.$this->getOrdersType()));
$orderType = end($ordersTypeParts);
?>

<?php if($_orders->getSize()): ?>
        <ul class="list-item-shadow a-left">
            <?php foreach ($_orders as $_order): ?>
                <li>
                    <?php //print_r($_order->getData()); ?>
                    <a href="#" class="accordion-toggle"  id="<?php echo $_order->getRealOrderId()."-".$orderType ?>">
                        <span class="avenir-light">
                        <?php echo date('F d, Y', strtotime($_order->getCreatedAtStoreDate())); ?> | Order #<?php echo $_order->getRealOrderId() ?></span>
                        <h4 class="font-18">mae's birthday party invitation</h4>
                        <span class="avenir-light"><?php echo $_order->getStatusLabel() ?></span>
                        <i class="ion-ios-plus-empty"></i>
                    </a>
                    <div class="accordion-container list-item-container">
                        <div class="sep-box">

                            <p class="avenir-black font-14">Order Progress</p>


                            <?php if(isset($orderProgress[$_order->getStatus()])): ?>
                                <div class="progress-status-container-inactive">
                                    <div class="progress-status-container-active complete-<?php echo $orderProgress[$_order->getStatus()]; ?>">
                                    </div>
                                </div>
                            <?php endif; ?>

                        </div>

                        <div class="sep-box">
                            <div class="col2-set short-col">
                                <div class="clr-box">
                                    <div class="col-1">
                                        <div class="info-box">
                                            <h3 class="box-title avenir-black">Shipping Address</h3>
                                            <h3><?php print $_order->getCustomerFirstname(); ?> <?php print $_order->getCustomerLastname(); ?></h3>
                                            <?php if($_order->getShippingAddress()): ?>
                                                <?php foreach($_order->getShippingAddress()->getStreet() as $streetLine): ?>
                                                    <div><?php print $streetLine; ?></div>
                                                <?php endforeach; ?>

                                                <?php print $_order->getShippingAddress()->getCity(); ?>, <?php print $_order->getShippingAddress()->getRegion(); ?> <?php print $_order->getShippingAddress()->getPostcode(); ?>

                                            <?php else: ?>

                                                <?php foreach($_order->getBillingAddress()->getStreet() as $streetLine): ?>
                                                    <div><?php print $streetLine; ?></div>
                                                <?php endforeach; ?>

                                                <?php print $_order->getBillingAddress()->getCity(); ?>, <?php print $_order->getBillingAddress()->getRegion(); ?> <?php print $_order->getBillingAddress()->getPostcode(); ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="info-box">
                                            <h3 class="box-title avenir-black">Billing Address</h3>
                                            <h3><?php print $_order->getBillingAddress()->getFirstname(); ?> <?php print $_order->getBillingAddress()->getLastname(); ?></h3>
                                            <?php foreach($_order->getBillingAddress()->getStreet() as $streetLine): ?>
                                                <div><?php print $streetLine; ?></div>
                                            <?php endforeach; ?>

                                            <?php print $_order->getBillingAddress()->getCity(); ?>, <?php print $_order->getBillingAddress()->getRegion(); ?> <?php print $_order->getBillingAddress()->getPostcode(); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr-box">
                                    <div class="col-1">
                                        <div class="info-box">
                                            <h3 class="box-title avenir-black">Summary of Charges</h3>
                                            <ul class="clr-ul">
                                                <li>
                                                    <span class="avenir-black f-left">Order Subtotal</span>
                                                    <span class="avenir-light f-right"><?php  echo Mage::helper('core')->formatPrice( $_order->getSubtotal() ); ?></span>
                                                </li>

                                                <li>
                                                    <span class="avenir-black f-left">Merchandise Tax</span>
                                                    <span class="avenir-light f-right"><?php echo Mage::helper('core')->formatPrice( $_order->getTaxAmount() ); ?></span>
                                                </li>
                                                <li>
                                                    <span class="avenir-black f-left">Shipping</span>
                                                    <span class="avenir-light f-right"><?php echo Mage::helper('core')->formatPrice( $_order->getShippingAmount() ); ?></span>
                                                </li>
                                                <li>
                                                    <span class="avenir-black f-left">Shipping Tax</span>
                                                    <span class="avenir-light f-right"><?php echo Mage::helper('core')->formatPrice( $_order->getShippingTax() ); ?></span>
                                                </li>
                                                <li class="pd-top-15">
                                                    <span class="avenir-black f-left font-14">Order Total</span>
                                                    <span class="avenir-black f-right font-14">
                                                    <?php  $orderTotal = $_order->getSubtotal()+$_order->getTaxAmount()+$_order->getShippingAmount()+$_order->getShippingTax(); ?>
                                                    <?php echo Mage::helper('core')->formatPrice( $orderTotal ); ?>
                                                     </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="info-box">
                                            <h3 class="box-title avenir-black">Payment Information</h3>
                                            <ul class="clr-ul">
                                                <li>
                                                    <span class="avenir-black f-left">Payment Method</span>
                                                    <span class="avenir-light f-right"><?php echo  $_order->getPayment()->getMethodInstance()->getTitle(); ?></span>
                                                </li>
                                                <?php if($_helper->isPaymentMethodCC($_order->getPayment()->getMethodInstance()->getTitle())): ?>
                                                    <li>
                                                        <span class="avenir-black f-left">Credit Card Type</span>
                                                        <span class="avenir-light f-right"><?php echo $_helper->getCcType($_order->getPayment()->getData('cc_type')); ?></span>
                                                    </li>
                                                    <li>
                                                        <span class="avenir-black f-left">Credit Card Number</span>
                                                        <span class="avenir-light f-right">xxxx-xxxx-xxxx-<?php echo $_order->getPayment()->getData('cc_last4'); ?></span>
                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                            <a href="<?php echo Mage::getUrl('sales/order/print')."order_id/".$_order->getId(); ?>" onclick="this.target='_blank';" class="link-print calson-book-italic"><?php echo $this->__('Print Receipt') ?></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sep-box">

                            <table class="data-table cart-table">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <thead>
                                <tr>
                                    <th> </th>
                                    <th><span class="nobr">Description</span></th>
                                    <th><span class="nobr">Unit Price</span></th>
                                    <th><span class="nobr">Quantity</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Ordered Items -->
                                <?php foreach($_order->getAllItems() as $item): ?>
                                    <tr>
                                        <?php $_product = Mage::getModel('catalog/product')->load($item->getProductId()); ?>
                                        <td>
                                            <a href="#" class="product-image">
                                                <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(150, 150); ?>" alt="<?php echo $this->htmlEscape($item->getName()); ?>" border="0" width="150" />
                                            </a></td>
                                        <td>
                                            <h2 class="product-detail-txt">
                                                <a href="#">
                                                    <span class="product-name"><?php echo $item->getName(); ?> <?php echo $item->getDescription(); ?></span>
                                                    <span class="cat-name"><?php echo Mage::helper('pixcatalog')->getProductCollection($_product); ?><br /><?php
                                                        echo $_product->getAttributeText('product_type'); ?></span>
                                                    <span class="ship-desc">Ship by <?php echo Mage::helper("pixestimateddeliverydate")->getFromDate($_product,Mage::app()->getStore()->getId()); ?></span>
                                                    <!--span class="couple-name">Britney &amp; Brat</span-->
                                                </a>
                                            </h2>
                                        </td>
                                        <td><span class="cart-price"><?php  echo Mage::helper('core')->formatPrice($item->getPrice()); ?></span></td>
                                        <td><span class="cart-price"><?php  echo round($item->getQtyOrdered()); ?></span></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </li>
            <?php endforeach; ?>

        </ul>
        <?php echo $this->getToolbarBlock(); ?>

    <?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php endif ?>
