<div id="category-tabs-container" data-container="<?=$this->getContainer();?>">
    <div class="tabs-nav">
        <?php include_once __DIR__ . '/categories.phtml';?>
    </div>
    <div id="gridview-container" class="placeholder">
        <div class="tab-content" id="tabs-container">
            <?php include_once __DIR__ . '/tab.phtml'; ?>
            <div class="tab" id="loading-tab">
                <img src="<?= $this->getSkinUrl('images/preloader.gif'); ?>" />
            </div>
        </div>
        <!-- tab-content-->
        <div class="press-btm-toolbar avenir-medium">
            <?php if ($this->getContainer() === 'PRESS'): ?>
                <a href="contact-us#feature" class="baron-normal btm-tl-link">Press Inquiries</a>
            <?php endif; ?>
            <div id="cat-pagers">
                <?= $this->getChildHtml('pager'); ?>
            </div>
        </div>
    </div>
</div>
