<ul class="tab-nav avenir-heavy">
    <input type="hidden" id="current-category" value="<?= $this->getCategoryConstant()? : 'ALL'; ?>"/>
    <li<?= !$this->getCategoryConstant() || $this->getCategoryConstant() === 'ALL' ? ' class="active" ' : ''; ?> data-category="ALL">
        <a href="#ALL">All</a>
    </li>
    <?php foreach ($this->getContentCategories() as $category): ?>
        <li<?= $this->getCategoryConstant() === $category->getCategoryConstant() ? ' class="active"' : ''; ?> data-category="<?= $category->getCategoryConstant(); ?>">
            <a href="#<?= $category->getCategoryConstant(); ?>"><?= $category->getCategoryName(); ?></a>
        </li>
    <?php endforeach; ?>
</ul>