<div id="<?= $this->getCategoryConstant() ? : 'ALL'; ?>-slider-<?=$this->getCurrentPage();?>-<?=$this->yearFilter;;?>" class="white-popup mfp-hide press-modal">
    <div class="modal-container">
        <div class="flexslider flexslider-lg with-thumbnails">
            <ul class="slides">
                <?php foreach ($this->getContentCollection() as $content): ?>
                    <li>
                        <div class="press-wrapper">
                            <?php if (file_exists(Mage::getBaseDir('media') . '/' . $content->getContentImage()) && $content->getContentImage()): ?>
                                <?php $theImage = new Varien_Image(  Mage::getBaseDir('media') . '/' . $content->getContentImage() );
                                  $double = $theImage->getOriginalWidth() > $theImage->getOriginalHeight();?>
                                    <div class="<?= !$double ? 'hidden': '';?> img-container double-container">
                                       <img src="<?= $this->mediaUrl . $content->getContentImage(); ?>" width="<?=$containerSettings['full_spread_width'];?>" height="<?=$containerSettings['full_spread_height'];?>" alt="<?= $content->getContentTitle();?>">
                                       <?php /*
                                       <h3><?= $content->getContentTitle(); ?></h3>
                                       <p><?= $content->getContentShortDescription();?></p>
                                       */ ?>
                                    </div>
                                    <div class="<?= $double ? 'hidden': '';?> img-container single-container">
                                        <div class="left-column">
                                            <img src="<?= $this->mediaUrl . $content->getContentImage(); ?>" width="<?=$containerSettings['image_width'];?>" height="<?=$containerSettings['image_height'];?>" alt="<?= $content->getContentTitle();?>">
                                        </div>
                                        <div class="right-column">
                                            <?php if( $content->getContentMiniTitle() ): ?>
                                            <span class="mini-title"><?= $content->getContentMiniTitle(); ?></span>
                                            <?php endif;?>
                                            <?php if($content->getContentShortDescription()): ?>
                                                <span class="mini-title"><?php echo $content->getContentShortDescription(); ?></span>
                                            <?php endif; ?>
                                            <h3><?= $content->getContentTitle(); ?></h3>
                                            <?php // $content->getContentDescription(); ?>
                                            <?php
                                            $helper = Mage::helper('cms');
                                            $processor = $helper->getBlockTemplateProcessor();
                                            print $processor->filter($content->getContentDescription());
                                            ?>
                                        </div>
                                    </div>

                                <div class="clear"></div>
                                <?php if( $this->containerSettings["use_extra_images"]  ): ?>
                                <?php if( $content->getNumExtraImages() ):?>
                                    <div class="thumbnails-wrapper">
                                       <?php /*
                                        <div class="thumbnails activated"><a href="#"><img src="<?= $this->mediaUrl . $content->getContentImage(); ?>" height="<?=$containerSettings["inner_carousel_height"];?>"  data-double="<?= $double ? 1 : 0 ;?>" class="miniCarouselThumb"/></a></div>\
                                       */ ?>

                                        <div class="press-thumbs" id="extra-image-thumbs-<?=$content->getId();?>" >

                                                <?php

                                                $containerSettings = $this->getContainerSettings();
                                                foreach( Mage::getResourceModel('pixcategoricalcontent/content_image_collection')->filterByContentIds($content->getId()) as $cImage):
                                                    $theImage = new Varien_Image(  Mage::getBaseDir('media') . '/' . $cImage->getContentImage() );
                                                    $double = $theImage->getOriginalWidth() > $theImage->getOriginalHeight();
                                                    ?>
                                                    <div class="thumbnails"><a href="#"><img src="<?= $this->mediaUrl . $cImage->getContentImage(); ?>" height="<?=$containerSettings["inner_carousel_height"];?>" class="miniCarouselThumb" data-double="<?= $double ? 1 : 0 ;?>"/></a></div>

                                                <?php endforeach;  ?>



                                        </div>
                                        <a href="#" id="prev-thumbs-<?=$content->getId();?>" class="hidden prev-slide">prev</a>
                                        <a href="#" id= "next-thumbs-<?=$content->getId();?>" class="hidden next-slide">next</a>
                                    </div>
                                <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
</div>