<?php $containerSettings = $this->getContainerSettings(); foreach( $this->getCurrentContentImages() as $cImage ):
    $theImage = new Varien_Image(  Mage::getBaseDir('media') . '/' . $cImage->getContentImage() );
    $double = $theImage->getOriginalWidth() > $theImage->getOriginalHeight();?>
    <li class="thumbnails"><a href="#"><img src="<?= $this->mediaUrl . $cImage->getContentImage(); ?>" height="<?=$containerSettings["inner_carousel_height"];?>" class="miniCarouselThumb" data-double="<?= $double ? 1 : 0 ;?>"/><span class="gold-border"></span></a></li>
<?php endforeach; ?>


