<?php $c = $this->getCollection(); ?>
<div id="<?= $c->categoryConstant; ?>-pager-<?=$c->yearFilter;?>" class="cat-pager-container">
    <?php if( $c->yearsArray ): ?>
    <label>Archive</label>
        <select class="avenir-medium regular-select archive-dropdown" data-category="<?=$c->categoryConstant;?>">
            <option value="ALL"<?=($c->yearFilter === 'ALL' ? ' selected ' : '')?>>All</option>
            <?php foreach($c->yearsArray as $y): ?>
                <option value="<?=$y;?>"<?=($c->yearFilter === $y ? ' selected ' : '')?>><?=$y;?></option>
            <?php endforeach; ?>
        </select>
    <?php endif;?>
    <?php if ($c->getSize()): ?>
        <label>Page</label>
        <?php if ($this->getLastPageNum() > 1): ?>
            <select class="avenir-medium regular-select cat-pager" data-category="<?=$c->categoryConstant;?>">
                <?php for ($i = 1; $i <= $this->getLastPageNum(); ++$i): ?>
                    <option<?= ($this->isPageCurrent($i) ? ' selected ' : ''); ?> value="<?= $i; ?>"><?= $i; ?></option>
                <?php endfor; ?>
            </select>
        <?php else: ?> 1
        <?php endif; ?>
        <label>of <?= $this->getLastPageNum(); ?></label>
        <a href="javascript:;" class="next-page-button hidden next-un-initialized" data-total-pages="<?=$this->getLastPageNum();?>">Next</a>
    <?php endif; ?>
</div>