<?php $containerSettings = $this->getContainerSettings(); ?>
<div class="tab active-tab" id="<?= $this->getCategoryConstant() ? : 'ALL'; ?>-tab-<?=$this->getCurrentPage() . '-' . $this->yearFilter;?>" >
    <ul>
        <?php $contentFound = false; $count = 0;?>
        <?php foreach ($this->getContentCollection() as $content): ?>
            <?php $contentFound = true;?>
            <li>
                <a href="#<?= $this->getCategoryConstant() ? : 'ALL'; ?>-slider-<?=$this->getCurrentPage() . '-' . $this->yearFilter;?>" data-src="<?=$count++;?>" class="cat-content-link open-popup-link">
                    <img src="<?= $this->mediaUrl . $content->getContentThumbnail(); ?>" width="<?=$containerSettings['thumbnail_width'];?>" height="<?=$containerSettings['thumbnail_height'];?>" alt="<?php $content->getContentTitle(); ?>">
                    <h3 class="title"><?= $content->getContentTitle();?></h3>
                    <?php if($content->getContentMiniTitle()): ?>
                        <h3 class="mini-title"><?= $content->getContentMiniTitle();?></h3>
                    <?php endif; ?>
                    <?php if($content->getContentShortDescription()): ?>
                        <h3 class="short-description"><?php echo $content->getContentShortDescription(); ?></h3>
                    <?php endif; ?>
                </a>
            </li>
        <?php endforeach; ?>
        <?php if (!$contentFound) {
            echo "<div>No content found...</div>";
        }
        ?>
    </ul>
</div>

<?php include_once __DIR__ . '/descriptionscarousel.phtml'; ?>

