<div class="artistry-wrapper">
    <div class="sub-nav-container">
        <div class="sub-nav small-spacing">
            <div class="sub-nav-wrapper">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_menu')->toHtml(); ?>
            </div>
        </div>
    </div>
    <div id="artistryvideobanner" class="lead-banner btm-anchr">
        <div class="lead-container">
            <div class="videoWrapper">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_video')->toHtml(); ?>
            </div>
            <div class="box-overlay"></div>
            <div class="block v-align">
                <div class="vd-txt-wrapper">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_video_overlay_text')->toHtml(); ?>
                </div>
            </div>

        </div>
    </div>
    <!-- Team Section -->
    <div id="artistryteam" class="section-scroll">
        <div class="tp-btm-anchr">
            <div class="grid section-top-space-padding">
                <div class="grid-intro">
                    <div class="inner">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_design_team_header')->toHtml(); ?>
                        <span class="arrow"></span>
                    </div>
                </div>
                <!-- design team -->
                <div class="single-slide-wrapper">
                    <div class="grid-left">
                        <div class="box box-lg">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_designteam_left_image')->toHtml(); ?>
                        </div>
                    </div>
                    <div class="grid-right">
                        <div class="box box-sm bg-color bg-color-black"> 
                            <img src="<?php echo $this->getSkinUrl('images/external/spacer-grid.png') ?>" alt="">
                            <div class="grid-content v-align">
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_designteam_right_top_text')->toHtml(); ?>
                            </div>
                        </div>
                        <div class="box box-sm bg-color bg-color-purple">
                            <img src="<?php echo $this->getSkinUrl('images/external/spacer-grid.png') ?>" alt="">
                            <div class="grid-content v-align">
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_designteam_right_bottom_text')->toHtml(); ?>
                            </div>
                        </div>
                        <?php /*
                        <div id="gridslider-1" class="grid-single-slide bg-color-grey">
                            <div class="grid-single-slide-table">
                                <div class="grid-single-slide-row">
                                <a href="#" class="close avenir-heavy">Close X</a>
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_designteam_right_top_link_slider')->toHtml(); ?>
                                </div>
                            </div>
                        </div>
                        */ ?>
                        <div id="gridslider-2" class="grid-single-slide bg-color-grey">
                            <div class="grid-single-slide-table">
                                <div class="grid-single-slide-row">
                                <a href="#" class="close avenir-heavy">Close X</a>
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_designteam_right_bottom_link_slider')->toHtml(); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- design team end -->
                <div class="promo-banner baron-normal">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_design_team_contact_us')->toHtml(); ?>
                </div>
            </div>
        </div>
    </div>
    <!-- Creative Process Section -->
    <div id="artistrycreative" class="section-scroll">
        <div class="section-page tp-anchr">
            <div class="section-lead-text">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_collections_slider_header')->toHtml(); ?>
            </div>
            <!-- Modal Windows of each slide is located in the same below static block -->
            <div class="regulargrid-wrapper margin-top-30 pd-btm-15">
                <?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_collections_slider')->toHtml();?>
                <a href="#" class="icon-black-small-prev"></a>
                <a href="#" class="icon-black-small-next"></a>
            </div>
            <?php /*
            <!-- Above Link Modal and Slider we should use Ajax -->
            <div id="venetian-fantasy" class="white-popup mfp-hide creative-modal">
                <div class="flexslider flexslider-lg">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_collections_modal_slider')->toHtml(); ?>
                </div>
            </div>
            <!-- end link modal and slider -->
            */ ?>
        </div>
    </div>
    <!-- Fine Arts Section -->
    <div id="artistryarts" class="section-scroll">
        <div class="section-banner">
            <div class="section-banner-image">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_fine_arts_banner')->toHtml(); ?>
            </div>
            <div class="section-page">
                <div class="section-lead-text-white">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_fine_arts_header')->toHtml(); ?>
                </div>
                <div class="regulargrid-wrapper content-next white-arrows pd-btm-15">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_fine_arts_slider')->toHtml(); ?>
                    <a href="#" class="icon-black-small-prev"></a>
                    <a href="#" class="icon-black-small-next"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Printing Techniques Section -->
    <div id="artistryprinting" class="section-scroll">
        <div class="section-content white-bg tp-btm-anchr">
            <div class="section-page">
                <div class="section-lead-text">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_printing_header')->toHtml(); ?>
                </div>
                <div class="regulargrid-wrapper bdr-btm content-next pd-btm-35">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_printing_slider')->toHtml(); ?>
                    <a href="#" class="icon-black-small-prev"></a>
                    <a href="#" class="icon-black-small-next"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Events Section -->
    <div id="artistryevents" class="section-page tp-anchr white-bg section-events section-scroll">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_events')->toHtml(); ?>
    </div>
</div>












