<div class="bio-wrapper">
    <div class="sub-nav-container">
        <div class="sub-nav">
            <div class="sub-nav-wrapper">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_menu')->toHtml(); ?>
            </div>
        </div>
    </div>
    <!-- Meet Ceci Section -->
    <div id="biomeetcecijohnson" class="section-scroll">
        <div class="grid">
            <div class="single-slide-wrapper">
                <div class="grid-left">
                    <div class="box box-lg">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_ceci_johnson_left_image')->toHtml(); ?>
                    </div>
                </div>
                <div class="grid-right">
                    <div class="box box-sm bg-color bg-color-black">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_ceci_johnson_right_top_image')->toHtml(); ?>
                    </div>
                    <div class="box box-sm bg-color bg-color-grey">
                        <img src="<?php echo $this->getSkinUrl('images/external/spacer-grid.png') ?>" />
                        <div class="grid-content v-align">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_ceci_johnson_right_bottom_text')->toHtml(); ?>
                        </div>
                    </div>
                    <div id="gridslider-1" class="grid-single-slide bg-color-grey">
                        <div class="grid-single-slide-table">
                            <div class="grid-single-slide-row">
                            <a href="#" class="close avenir-heavy">Close X</a>
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_ceci_johnson_right_bottom_link_slider')->toHtml(); ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_ceci_johnson_black_banner')->toHtml(); ?>


        <div class="flexslider flexslider-global flexslider-bio">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_ceci_johnson_world_slides')->toHtml(); ?>
            <div class="slide-nav-wrapper v-align">
                <div class="bio-slider-title baron-normal">ceci Johnson's <br/> World </div>
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_ceci_johnson_world_slides_nav')->toHtml(); ?>
            </div>
        </div>
    </div>
    <!-- Speaking Engagement Section -->
    <div id="biospeakingengagement" class="section-scroll">
        <div id="calendar-wrapper" class="section-top-space-padding">
            <h3></h3>
            <ul class="year-tab">
                <li class="left active">2015</li>
                <li class="right">2016</li>
            </ul>
            <ul class="months-tab">
                <li>
                    <a href="#" data-month="1">Jan</a>
                </li>
                <li> 
                    <a href="#" data-month="2">Feb</a>
                </li>
                <li> 
                    <a href="#" data-month="3">Mar</a>
                </li>
                <li> 
                    <a href="#" data-month="4">Apr</a>
                </li>
                <li> 
                    <a href="#" data-month="5">May</a>
                </li>
                <li> 
                    <a href="#" data-month="6">Jun</a>
                </li>
                <li>
                    <a href="#" data-month="7">Jul</a>
                </li>
                <li> 
                    <a href="#" data-month="8">Aug</a>
                </li>
                <li> 
                    <a href="#" data-month="9">Sep</a>
                </li>
                <li> 
                    <a href="#" data-month="10">Oct</a>
                </li>
                <li> 
                    <a href="#" data-month="11">Nov</a>
                </li>
                <li> 
                    <a href="#" data-month="12">Dec</a>
                </li>
            </ul>
            <div id='calendar'>
            </div>
        </div>
        <div class="promo-banner calendar-promo baron-normal">Request Ceci Johnson's <a href="<?php echo $this->getUrl('contact-us');?>">availability</a></div>
        <div class="section-page section-speaking section-btm-space-padding">
            <div class="section-text">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_speaking_topics')->toHtml(); ?>
            </div>
        </div>
    </div>

        <div class="section-top-space-padding">
        <div class="section-1440 section-page a-center">
            <div class="mini-slider section-1200">
                <div class="line-title">
                    <h2>Past Appearances Include</h2>
                </div>
                <div class="showcase-wrapper">
                    <div class="showcase-container">
                        <div class="showcase-slider">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('ceci_bio_past_appearances')->toHtml(); ?>
                        </div>
                    </div>
                    <a href="#" class="prev-slide">prev</a> <a href="#" class="next-slide">next</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Business Consulting Section -->
    <div id="biobusinessconsulting" class="section-scroll">
        <div class="section-top-space-padding">
            <div class="grid section-top-space-padding">


                <div class="grid-intro">
                    <div class="inner">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_business_consulting_header')->toHtml(); ?>
                        <span class="arrow"></span>
                    </div>
                </div>
                <!-- design team -->
                <div class="single-slide-wrapper">
                    <div class="grid-left">
                        <div class="box box-lg">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_business_consulting_left_image')->toHtml(); ?>
                        </div>
                    </div>
                    <div class="grid-right">
                        <div class="box box-sm bg-color bg-color-black"> 
                            <img src="<?php echo $this->getSkinUrl('images/external/spacer-grid.png') ?>" alt="">
                            <div class="grid-content v-align">
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_business_consulting_right_top_text')->toHtml(); ?>
                            </div>
                        </div>
                        <div class="box box-sm bg-color bg-color-blue">
                            <img src="<?php echo $this->getSkinUrl('images/external/spacer-grid.png') ?>" alt="">
                            <div class="grid-content v-align">
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_business_consulting_right_bottom_text')->toHtml(); ?>
                            </div>
                        </div>
                        <?php /*
                        <div id="gridslider-1" class="grid-single-slide bg-color-grey">
                            <div class="grid-single-slide-table">
                                <div class="grid-single-slide-row">
                                <a href="#" class="close avenir-heavy">Close X</a>
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_designteam_right_top_link_slider')->toHtml(); ?>
                                </div>
                            </div>
                        </div>
                        */ ?>
                        <div id="gridslider-2" class="grid-single-slide bg-color-grey">
                            <div class="grid-single-slide-table">
                                <div class="grid-single-slide-row">
                                    <a href="#" class="close avenir-heavy">Close X</a>
                                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_business_consulting_right_bottom_link_slider')->toHtml(); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- design team end -->
                <div class="promo-banner baron-normal">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_business_consulting_contact_us')->toHtml(); ?>
                </div>
            </div>
        </div>
    </div>
    <div class="btm-show-slides ptn-half-white">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('biography_bottom_images')->toHtml(); ?>
    </div>
        <!-- instagram Feed -->
        <div class="section-fullwidth ceciteam-hashtag no-margin">
            <div class="section-page">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bio_instagram_feed')->toHtml(); ?>
        <!-- end instagram feed -->
            </div>
        </div>
</div>