<div class="careers-wrapper">
    <div class="sub-nav-container">
        <div class="sub-nav">
        	<div class="sub-nav-wrapper">
            	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('careers_menu')->toHtml(); ?>
            </div>
        </div>
    </div>
    <!-- Core Values Section -->
    <div id="careercorevalues" class="section-scroll">
		<div class="flexslider flexslider-global flexslider-bio flexslider-careers">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('careers_top_slides')->toHtml(); ?>

		    <div class="slide-nav-wrapper v-align">
			    <div class="bio-slider-title baron-normal">ceci core <br/> Values </div>
			    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('careers_top_slides_nav')->toHtml(); ?>
		    </div>
		</div>

		<div class="testimonial-slider-wrapper">
			<div class="slide-wrapper">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('careers_quote_message')->toHtml(); ?>
			<a href="#" class="icon-black-prev"></a>
			<a href="#" class="icon-black-next"></a>
			</div>
		</div>

	</div>
	<!-- Culture Section -->
	<div id="careerculture" class="section-scroll">
		<div class="tp-anchr">
			<div class="grid home-grid">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('careers_grid')->toHtml(); ?>
			</div>
			<div class="section-page section-top-space-padding section-btm-space-padding">
				<div class="section-lead-text">
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('careers_about_office')->toHtml(); ?>
				</div>
			</div>
		</div>
	</div>
	<!-- Team Ceci Section -->
	<div id="careerteamceci" class="section-scroll">
		<div class="lead-banner btm-anchr">
		    <div class="lead-container">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('careers_video')->toHtml(); ?>
		    </div>
		</div>
	</div>
	<!-- Career Opportunities Section -->
	<div id="careeropportunities" class="section-scroll">
		<div class="section-page tp-anchr">
	        <div class="section-lead-text">
	            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('careers_opporunity_header')->toHtml(); ?>
	        </div>
	        <?=$this->getChildHtml('careers_tabs');?>
		</div>               
	</div> 
	<!-- Internships Section -->
	<div id="careerinternships" class="section-scroll">
		<div class="section-page tp-anchr">
			<div class="section-lead-text">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('careers_internship')->toHtml(); ?>
			</div>
		</div>
	</div>
	<div id="instasection" class="section-scroll">
		<!-- instagram Feed -->
		<div class="section-fullwidth ceciteam-hashtag">
			<div class="section-page">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('careers_instagram_feed')->toHtml(); ?>
		<!-- end instagram feed -->
			</div>
		</div>
	</div>
</div>