<div class="company-wrapper">
    <div class="sub-nav-container">
        <div class="sub-nav">
            <div class="sub-nav-wrapper">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('company_menu')->toHtml(); ?>
            </div>
        </div>
    </div>
    <!-- About Company Section -->
    <div id="companyaboutcecinewyork" class="section-scroll">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('company_banner')->toHtml(); ?>
	</div>
	<!-- Press Section -->
	<div id="companypress" class="section-scroll">
        <div class="section-page tp-btm-anchr">
            <div class="section-lead-text">
                <h2>Press</h2>
                <p>From recognition in design excellence to style and business expertise, Ceci Johnson, the founder of <br> Ceci New York, makes a statement in media.</p>
            </div>
            <?=$this->getChildHtml('press_events');?>
        </div>
	</div>
	<!-- Awards Section -->
	<div id="companyawards" class="section-scroll">
		<div class="section-banner">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('company_awards')->toHtml(); ?>
		</div>
	</div>
	<!-- History Section -->
	<div id="companyhistory" class="section-scroll">
        <div class="tp-btm-anchr white-bg">
    		<div class="timeline-container">
    	    	<div class="grid-intro">
    	            <div class="inner">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('company_timeline_header')->toHtml(); ?>
    	                <span class="arrow"></span>
    	            </div>
    	        </div>
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('company_history')->toHtml(); ?>
    	    </div>
        </div>
	</div>
	<!-- Mission Section -->
	<div id="companymission" class="section-standard-mission section-scroll">
	    <div class="section-page tp-anchr">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('company_standard_mission')->toHtml(); ?>
	    </div>
	</div>
	<!-- Bottom Blocks -->
	<div class="cmp-btm-container">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('company_bottom_images')->toHtml(); ?>
	</div>
	<!-- Timeline Modal Window -->
	<div id="timeline-event" class="white-popup mfp-hide timeline-modal">
	    <div class="modal-container">
	        <div class="flexslider flexslider-lg">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('company_history_modal_slides')->toHtml(); ?>
	        </div>
	    </div>
	</div>
</div>