<div class="corporate-collections-wrapper">

	<div class="sub-nav-container">
		<div class="sub-nav">
			<div class="sub-nav-wrapper">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_menu')->toHtml(); ?>
			</div>
		</div>
	</div>
	
	<!-- Why Ceci Secion -->
	<div id="why-ceci" class="section-scroll">
		<div id="parallax-slider">
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_parallax_slider')->toHtml(); ?>
		</div>
	</div>

	<!-- Invitations Section -->
	<div id="invitations" class="section-scroll">
		<div class="section-top-space-padding">
			<div class="grid section-top-space-padding">
                <div class="grid-intro">
                    <div class="inner">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_invitations_header')->toHtml(); ?>
                        <span class="arrow"></span>
                    </div>
                </div>
                <!-- design team -->
                <div class="single-slide-wrapper">
                    <div class="grid-left">
                        <div class="box box-lg">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_invitations_left_image')->toHtml(); ?>
                        </div>
                    </div>
                    <div class="grid-right">
                        <div class="box box-sm bg-color bg-color-black"> 
                            <img src="<?php echo $this->getSkinUrl('images/external/spacer-grid.png') ?>" alt="">
                            <div class="grid-content v-align">
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_invitations_right_top_text')->toHtml(); ?>
                            </div>
                        </div>
                        <div class="box box-sm bg-color bg-color-blue">
                            <img src="<?php echo $this->getSkinUrl('images/external/spacer-grid.png') ?>" alt="">
                            <div class="grid-content v-align">
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_invitations_right_bottom_text')->toHtml(); ?>
                            </div>
                        </div>
                        <?php /*
                        <div id="gridslider-1" class="grid-single-slide bg-color-grey">
                            <div class="grid-single-slide-table">
                                <div class="grid-single-slide-row">
                                <a href="#" class="close avenir-heavy">Close X</a>
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_designteam_right_top_link_slider')->toHtml(); ?>
                                </div>
                            </div>
                        </div>
                        */ ?>
                        <div id="gridslider-2" class="grid-single-slide bg-color-grey">
                            <div class="grid-single-slide-table">
                                <div class="grid-single-slide-row">
                                <a href="#" class="close avenir-heavy">Close X</a>
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_invitations_right_bottom_link_slider')->toHtml(); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- design team end -->
                <div class="promo-banner baron-normal">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_invitations_contact_us')->toHtml(); ?>
                </div>
			</div>
		</div>
	</div>

	<!-- Logo Design Section -->
	<div id="logo-design" class="section-scroll section-top-space-padding section-btm-space-padding">
		<div class="tp-btm-anchr">
			<div class="section-page tp-anchr section-top-space-padding">
				<div class="section-lead-text">
                	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_logo_design_header')->toHtml(); ?>
				</div>
				<!-- Modal Windows of each slide is located in the same below static block -->
				<div class="regulargrid-wrapper margin-top-30 pd-btm-15">
					<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_logo_design_slider')->toHtml();?>
					<a href="#" class="icon-black-small-prev"></a>
					<a href="#" class="icon-black-small-next"></a>
				</div>
	            <?php /*
	            <!-- Above Link Modal and Slider we should use Ajax -->
	            <div id="venetian-fantasy" class="white-popup mfp-hide creative-modal">
	                <div class="flexslider flexslider-lg">
	                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_collections_modal_slider')->toHtml(); ?>
	                </div>
	            </div>
	            <!-- end link modal and slider -->
	            */ ?>
	        </div>
	    </div>
	</div>

	<!-- Businesss Card Section -->
	<div id="business-cards" class="section-scroll white-bg">
		<div class="promo-banner baron-normal">
			<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_business_consulting_black_banner')->toHtml();?>
		</div>
		<div class="section-banner a-center">
			<div class="section-banner-image">
				<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_business_card_banner')->toHtml();?>
			</div>
			<div class="section-page section-top-space-padding">
				<div class="section-lead-text-white">
					<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_business_cards_header')->toHtml();?>
				</div>
				<div class="regulargrid-wrapper content-next white-arrows pd-btm-15">
					<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_business_card_slider')->toHtml();?>
					<a href="#" class="icon-black-small-prev"></a>
					<a href="#" class="icon-black-small-next"></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Marketing Materials Section -->
	<div id="marketing-materials" class="section-scroll white-bg">
		<div class="section-banner a-center">
			<div class="section-banner-image">
				<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_marketing_materials_banner')->toHtml();?>
			</div>
			<div class="section-page section-top-space-padding">
				<div class="section-lead-text-white">
					<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_marketing_materials_header')->toHtml();?>
				</div>
				<div class="regulargrid-wrapper content-next white-arrows pd-btm-15">
					<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_marketing_materials_slider')->toHtml();?>
					<a href="#" class="icon-black-small-prev"></a>
					<a href="#" class="icon-black-small-next"></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Packaging Section -->
	<div id="packaging" class="section-scroll btm-show-slides ptn-half-white">
		<div class="section-page section-top-space-padding">
			<div class="section-lead-text">
				<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_packaging_header')->toHtml();?>
			</div>
			<div class="section-page">
				<div class="regulargrid-wrapper content-next pd-btm-15 bdr-btm">
					<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_packaging_slider')->toHtml();?>
					<a href="#" class="icon-black-small-prev"></a>
					<a href="#" class="icon-black-small-next"></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Web Design Section -->
	<div id="website-design" class="section-page tp-anchr white-bg section-events section-scroll">
		<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_web_design')->toHtml();?>
		<div class="col-1040">
			<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_web_design_more')->toHtml();?>
		</div>
	</div>

	<!-- Brand Transformations Section -->
	<div id="brand-transformations" class="section-page white-bg section-scroll pd-top-45">
		<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_brand_transformations')->toHtml();?>
	</div>

	<div class="promo-banner baron-normal">
		<?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('corporate_business_consulting_black_banner')->toHtml();?>
	</div>
	
	<!-- modal window -->
    <?php /*
    <div id="clients-tab-modal" class="white-popup mfp-hide careers-modal">
        <div class="modal-container">
            <div class="press-wrapper">
                <div class="left-column">
                    <img src="{{media url="wysiwyg/Corporate/client-grid-lrg.jpg"}}" alt="" />
                </div>
                <div class="right-column">
                    <span class="mini-title">Wedding</span>
                    <h3>natalie &amp; david, new york city</h3>
                    <p>Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>See this whole wedding in <a href="#">CeciStyle</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal window -->
    */ ?>

</div>