<div class="error-wrapper">
	<div class="col-1440">
		<div class="col-1200">
			<div class="container-shadow white-bg a-center">
				<?php /* <h1><?php echo $this->getLayout()->getBlock('head')->getTitle(); ?></h1> */ ?>
                <h1>404 page not found</h1>
				<h2>oops!</h2>
				<h3>It seems that the page you are looking for does not exist.</h3>
				<p>Please retype the address or if you reached this page via a faulty link on our site, please let us know by sending<br>
					a brief message via our <a href="<?php echo $this->getUrl('contact-us'); ?>" class="underline-link">customer service form.</a></p>
				<p>You may also go back to the previous page or begin shopping in one of our collections below.</p>
			</div>

			<?php echo $this->getLayout()->createBlock('core/template')->setTemplate('catalog/category/grids-cat-small.phtml')->toHtml(); ?>

			<div class="btm-links">
				<a href="<?php echo $this->getUrl('careers'); ?>" class="gold-link">Career Page</a>
				<a href="<?php echo $this->getUrl('customer-care/tools-faq'); ?>" class="gold-link">FAQ</a>
				<a href="<?php echo $this->getUrl('contact-us'); ?>" class="gold-link">Contact Us</a>
			</div>
		</div>
	</div>
</div>