<div class="home-gifts-wrapper">
	<div class="section-scroll">
		<div class="slide-wrapper">
			<div id="large-header-slider" class="gifts-stationery-slide">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_gifts_header_slider')->toHtml(); ?>
			</div>
			<a href="#" class="icon-black-prev"></a>
			<a href="#" class="icon-black-next"></a>
		</div>
	</div>
	<div class="section-scroll">
		<div class="tp-anchr">
			<div class="grid home-grid">
				<div class="grid-intro">
					<div class="inner">
						<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_gifts_grid_header')->toHtml(); ?>
						<span class="arrow"></span>
					</div>
				</div>
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_gifts_grid')->toHtml(); ?>
			</div>
			<div class="white-bg section-top-space-padding">
				<div class="section-1440 section-page a-center">
					<div class="section-top-btm-space-padding">
						<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_gifts_product_list')->toHtml(); ?>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="white-bg pull-next-section-up">
		<div class="section-1440">
			<div class="a-center">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_gifts_ceci_difference_header')->toHtml(); ?>
			</div>
		</div>
	</div>
	<div class="last-section">
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_gifts_ceci_difference_images')->toHtml(); ?>
	</div>
</div>