<div class="home-wrapper">
    <div class="flexslider flexslider-global flexslider-home">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_slider')->toHtml(); ?>
    </div>
    <div class="col-1440 margin-top-neg-30">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_slider_after')->toHtml(); ?>
    </div>

    <div class="grid home-grid">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_collections_grid')->toHtml(); ?>
    </div>
    <div class="section-share col-1440">
        <span class="refresh-curalate">Refresh</span>
        <div id="curalate-fan-reel-wrapper"></div>
    </div>
    <div class="section-issue">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_magazine_issue')->toHtml(); ?>
    </div>

</div>