<div id="philanphilanthropy" class="philan-wrapper">
    <div class="sub-nav-container">
        <div class="sub-nav small-spacing">
            <div class="sub-nav-wrapper">
                <ul class="baron-normal nav">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_menu')->toHtml(); ?>
                </ul>
            </div>
        </div>
    </div>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_temp_image_banner')->toHtml(); ?>
    <?php /* // Uncomment this section to bring back video - static blocks are already in the cms
    <div class="lead-banner btm-anchr">
        <div class="lead-container">
            <div class="videoWrapper">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_video')->toHtml(); ?>
            </div>
            <div class="box-overlay"></div>
            <div class="block v-align">
                <div class="vd-txt-wrapper">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_video_overlay_text')->toHtml(); ?>
                </div>
            </div>
        </div>
    </div>
    */ ?>

    <!-- Birthday Project Section -->
    <div id="philanbirthdayproject" class="section-scroll">
        <div class="tp-anchr">
            <div class="grid section-top-space-padding">


                <div class="grid-intro">
                    <div class="inner">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_birthdayparty_header')->toHtml(); ?>
                    </div>
                </div>
                <!-- design team -->
                <div class="single-slide-wrapper">
                    <div class="grid-left">
                        <div class="box box-lg">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_birthdayparty_left_image')->toHtml(); ?>
                        </div>
                    </div>
                    <div class="grid-right">
                        <div class="box box-sm bg-color bg-color-black"> 
                            <img src="<?php echo $this->getSkinUrl('images/external/spacer-grid.png') ?>" alt="">
                            <div class="grid-content v-align">
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_birthdayparty_right_top_text')->toHtml(); ?>
                            </div>
                        </div>
                        <div class="box box-sm bg-color bg-color-orange">
                            <img src="<?php echo $this->getSkinUrl('images/external/spacer-grid.png') ?>" alt="">
                            <div class="grid-content v-align">
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_birthdayparty_right_bottom_text')->toHtml(); ?>
                            </div>
                        </div>
                        <?php /*
                        <div id="gridslider-1" class="grid-single-slide bg-color-grey">
                            <div class="grid-single-slide-table">
                                <div class="grid-single-slide-row">
                                <a href="#" class="close avenir-heavy">Close X</a>
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('artistry_designteam_right_top_link_slider')->toHtml(); ?>
                                </div>
                            </div>
                        </div>
                        */ ?>
                        <div id="gridslider-2" class="grid-single-slide bg-color-grey">
                            <div class="grid-single-slide-table">
                                <div class="grid-single-slide-row">
                                    <a href="#" class="close avenir-heavy">Close X</a>
                                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_birthdayparty_right_bottom_link_slider')->toHtml(); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- design team end -->
                <div class="promo-banner baron-normal">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_birthdayparty_contact_us')->toHtml(); ?>
                </div>


            </div>
        </div>
    </div>

    <!-- Our Designs Section -->
    <div id="philanourdesigns" class="section-scroll btm-anchr">
        <div class="section-page tp-anchr white-bg">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_designs_for_birthday')->toHtml(); ?>
        </div>
    </div>

     <!-- We Also Support Section -->
    <div id="philansupport" class="section-scroll ptn-half-white">
        <div class="section-page tp-anchr">
            <div class="section-lead-text">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_we_also_support')->toHtml(); ?>
            </div>
            <div class="section-page section-btm-bigspace-padding">
                <div class="section-lead-text">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('philanthropy_btm_txt')->toHtml(); ?>
                </div>
            </div>
    </div>

</div>
