<div class="gifts-stationery-wrapper">

	<div class="section-scroll">
		<div class="slide-wrapper">
			<div id="large-header-slider" class="gifts-stationery-slide">
				<div class="slide">
					<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-slide1.jpg') ?>" alt="Home and Gift Collection" />
					<div class="absolute">
						<h2 class="font-36">Entertain<br>in Style</h2>
						<p class="font-16">Embrace the art of the possible and make your own style<br />statement with endless design, font and color choices.</p>
						<p class="uppercase calson-book-italic font-16">Make the Right Statement Everytime.</p>
						<a href="#" class="btn-transparent ptsans-demi cyanbtn">Shop Table Top<i class="icon-angle-right"></i></a>
					</div>
				</div>
				<div class="slide">
					<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-slide2.jpg') ?>" alt="Home and Gift Collection" />
					<div class="absolute">
						<h2 class="font-36">Absolutely Original,<br>Always Stylish</h2>
						<p class="font-16">Impecably hand-crafted pieces that you won't<br /> find anywhere else.</p>
						<p class="uppercase calson-book-italic font-16">Produced only with the<br>most luxurious materials<br>and finest techniques.</p>
						<a href="#" class="btn-transparent ptsans-demi cyanbtn">Shop Home &amp; Gifts<i class="icon-angle-right"></i></a>
					</div>
				</div>
				<div class="slide">
					<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-slide3.jpg') ?>" alt="Home and Gift Collection" />
					<div class="absolute">
						<h2 class="font-36">The Art of the<br />Handwritten Note</h2>
						<p class="font-16">It’s refreshing in today’s world, where everything<br />is the same, to have something different and special.</p>
						<p class="uppercase calson-book-italic font-16">Stand out and start personalizing now.</p>
						<a href="#" class="btn-transparent ptsans-demi cyanbtn">Shop Fine Stationery<i class="icon-angle-right"></i></a>
					</div>
				</div>
			</div>
			<a href="#" class="icon-black-prev"></a>
			<a href="#" class="icon-black-next"></a>
		</div>
	</div>

	<div class="section-scroll">
		<div class="tp-anchr">
			<div class="grid home-grid">
				
				<div class="grid-intro">
					<div class="inner">
						<p>Home &amp; Gift Collection</p>
						<h3>Find Your<br>Ceci Style</h3>
						<span class="arrow"></span>
					</div>
				</div>
				<div class="grid-left">
					<div class="box box-lg">
						<a href="#">
							<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-grid-large-1.jpg') ?>" alt="Home and Gift Collection" />
							<div class="box-overlay"></div>
							<div class="grid-content">
								<p>Entertain in Style</p>
								<h3 class="baron-normal">Table Top</h3>
								<h5>View Designs</h5>
							</div>
						</a>
					</div>
				</div>
				<div class="grid-right">
					<div class="box box-sm">
						<a href="/collections/social-parties.html">
							<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-grid1-right-top.jpg') ?>" alt="" />
							<div class="box-overlay"></div>
							<div class="grid-content">
								<p>Annual Masquerade Halloween Party</p>
								<h3>Getting Glamorous</h3>
								<h5>See More #TeamCeci Fun</h5>
							</div>
						</a>
					</div>
					<div class="box box-sm">
						<a href="/collections/personal-stationery.html">
							<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-grid1-right-bottom.jpg') ?>" alt="" />
							<div class="box-overlay"></div>
							<div class="grid-content">
								<p>Team Ceci Field Trip</p>
								<h3>Supporting AIGA</h3>
								<h5>See More #TeamCeci Fun</h5>
							</div>
						</a>
					</div>
				</div>
				<div class="grid-bottom">
					<div class="box box-md">
						<a href="/collections/baby-kids.html">
							<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-grid1-bottom-left.jpg') ?>" alt="Home and Gift Collection" />
							<div class="box-overlay"></div>
							<div class="grid-content">
								<p>Office Birthday Celebration</p>
								<h3>Sweet Treats</h3>
								<h5>See More #TeamCeci Fun</h5>
							</div>
						</a>
					</div>
					<div class="box box-md">
						<a href="/collections/corporate-events.html">
							<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-grid1-bottom-right.jpg') ?>" alt="Home and Gift Collection" />
							<div class="box-overlay"></div>
							<div class="grid-content">
								<p>Team Learning</p>
								<h3>Ceci Johnson’s In-Studio Watercolor Class</h3>
								<h5>See More #TeamCeci Fun</h5>
							</div>
						</a>
					</div>
				</div>

				<div class="grid-left">
					<div class="box box-lg">
						<a href="#">
							<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-grid-large-2.jpg') ?>" alt="Home and Gift Collection" />
							<div class="box-overlay"></div>
							<div class="grid-content">
								<p>Our 200th Ceci Style Issue</p>
								<h3 class="baron-normal">celebrating ceci style Magazine</h3>
								<h5>See More #TeamCeci Fun</h5>
							</div>
						</a>
					</div>
				</div>
				<div class="grid-right">
					<div class="box box-sm">
						<a href="/collections/social-parties.html">
							<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-grid2-right-top.jpg') ?>" alt="" />
							<div class="box-overlay"></div>
							<div class="grid-content">
								<p>Annual Masquerade Halloween Party</p>
								<h3>Getting Glamorous</h3>
								<h5>See More #TeamCeci Fun</h5>
							</div>
						</a>
					</div>
					<div class="box box-sm">
						<a href="/collections/personal-stationery.html">
							<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-grid2-right-bottom.jpg') ?>" alt="" />
							<div class="box-overlay"></div>
							<div class="grid-content">
								<p>Team Ceci Field Trip</p>
								<h3>Supporting AIGA</h3>
								<h5>See More #TeamCeci Fun</h5>
							</div>
						</a>
					</div>
				</div>
				<div class="grid-bottom">
					<div class="box box-md">
						<a href="/collections/baby-kids.html">
							<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-grid2-bottom-left.jpg') ?>" alt="Home and Gift Collection" />
							<div class="box-overlay"></div>
							<div class="grid-content">
								<p>Office Birthday Celebration</p>
								<h3>Sweet Treats</h3>
								<h5>See More #TeamCeci Fun</h5>
							</div>
						</a>
					</div>
					<div class="box box-md">
						<a href="/collections/corporate-events.html">
							<img src="<?php echo $this->getSkinUrl('images/external/gifts-stationery-grid2-bottom-right.jpg') ?>" alt="Home and Gift Collection" />
							<div class="box-overlay"></div>
							<div class="grid-content">
								<p>Team Learning</p>
								<h3>Ceci Johnson’s In-Studio Watercolor Class</h3>
								<h5>See More #TeamCeci Fun</h5>
							</div>
						</a>
					</div>
				</div>

			</div>

			<div class="white-bg section-top-space-padding">
				<div class="section-1440 section-page a-center">
					<p class="text-center">
						<a href="#" class="calson-book-italic underline bold">View full product list</a>
					</p>
					<div class="links-model section-top-btm-space-padding">
						<ul class="wd3 f-left">
							<li><a href="#">Rehearsal Dinner Cards</a></li>
							<li><a href="#">Brunch Cards</a></li>
							<li><a href="#">Reception Cards</a></li>
							<li><a href="#">Thank You Cards</a></li>
							<li><a href="#">Ketubahs</a></li>
							<li><a href="#">Cocktail Napkins</a></li>
							<li><a href="#">Stir Sticks</a></li>
							<li><a href="#">Custom Matchbooks</a></li>
							<li><a href="#">Coasters</a></li>
							<li><a href="#">Signage</a></li>
							<li><a href="#">Seating Charts</a></li>
						</ul>
						<ul class="wd3 f-left">
							<li><a href="#">Cocktail Napkins</a></li>
							<li><a href="#">Stir Sticks</a></li>
							<li><a href="#">Custom Matchbooks</a></li>
							<li><a href="#">Coasters</a></li>
							<li><a href="#">Signage</a></li>
							<li><a href="#">Seating Charts</a></li>
							<li><a href="#">Rehearsal Dinner Cards</a></li>
							<li><a href="#">Brunch Cards</a></li>
							<li><a href="#">Reception Cards</a></li>
							<li><a href="#">Thank You Cards</a></li>
							<li><a href="#">Ketubahs</a></li>
						</ul>
						<ul class="wd3 f-left">
							<li><a href="#">Custom Matchbooks</a></li>
							<li><a href="#">Coasters</a></li>
							<li><a href="#">Signage</a></li>
							<li><a href="#">Seating Charts</a></li>
							<li><a href="#">Rehearsal Dinner Cards</a></li>
							<li><a href="#">Brunch Cards</a></li>
							<li><a href="#">Reception Cards</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>

	<div class="white-bg pull-next-section-up">
		<div class="section-1440">
			<div class="a-center">
				<h2 class="font-36 pd-btm-15">Enjoy the Ceci Difference</h2>
				<h2 class="calson-book-italic font-16 no-tranform">We believe 50% of our job is great design - the other 50% is outstanding service.</h2>
			</div>
		</div>
	</div>

	<div class="last-section">
	
		<ul class="small-cat-grid grid-design-1 plain-slides">
			<li>
				<a href="#">
					<img src="<?php echo $this->getSkinUrl('images/external/meet_creator.jpg') ?>" alt="Home and Gift Collection" />
					<div class="text-wrapper">
	            		<h3>As Seen In</h3>
	            		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aeneanid consectetur orci.</p>
	        		</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="<?php echo $this->getSkinUrl('images/external/your-world.jpg') ?>" alt="Home and Gift Collection" />
					<div class="text-wrapper">
	            		<h3>Your World Customized</h3>
	            		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aeneanid consectetur orci.</p>
	        		</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="<?php echo $this->getSkinUrl('images/external/ceci-design.jpg') ?>" alt="Home and Gift Collection" />
					<div class="text-wrapper">
	            		<h3>The Ceci Design Team</h3>
	            		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aeneanid consectetur orci.</p>
	        		</div>
				</a>
			</li>
		</ul>

	</div>

</div>