<div class="worldceci-wrapper">
    <div class="sub-nav-container">
        <div class="sub-nav">
            <div class="sub-nav-wrapper">
            	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('world_of_ceci_menu')->toHtml(); ?>
            </div>
        </div>
    </div>

    <div id="thececidifference" class="section-scroll">
		<div id="parallax-slider">
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('world_of_ceci_parallax_slider')->toHtml(); ?>
		</div>
    </div>

	<div id="ourclientele" class="black-box-wrapper section-scroll">
		<div class="black-box-container">
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('world_of_ceci_we_love_our_clients')->toHtml(); ?>
		</div>
	</div>

	<!--- section clientele -->
	<div class="white-bg section-top-space-padding">
		<div class="section-1440 section-page a-center">
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('world_of_ceci_privacy_respected_description')->toHtml(); ?>
			<div class="links-model section-top-btm-space-padding">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('world_of_ceci_privacy_respected_links')->toHtml(); ?>
			</div>
			<div class="mini-slider section-1200">
				<div class="line-title">
					<h2>publishing & entertainment</h2>
				</div>
				<div class="showcase-wrapper">
					<div class="showcase-container">
						<div class="showcase-slider">
							<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('world_of_ceci_publishing_entertainment')->toHtml(); ?>
						</div>
					</div>
					<a href="#" class="prev-slide">prev</a> <a href="#" class="next-slide">next</a>
				</div>
				<div class="line-title">
					<h2>corporate & retail</h2>
				</div>
				<div class="showcase-wrapper">
					<div class="showcase-container">
						<div class="showcase-slider">
						<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('world_of_ceci_corporate_retail')->toHtml(); ?>

						</div>
					</div>
					<a href="#" class="prev-slide">prev</a> <a href="#" class="next-slide">next</a>
				</div>
				<div class="line-title">
					<h2>Location & Venues</h2>
				</div>
				<div class="showcase-wrapper">
					<div class="showcase-container">
						<div class="showcase-slider">
							<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('world_of_ceci_location_venues')->toHtml(); ?>
						</div>
					</div>
					<a href="#" class="prev-slide">prev</a> <a href="#" class="next-slide">next</a>
				</div>
			</div>
		</div>
	</div>

	<!-- section testimonials -->
	<div id="clienttestimonials" class="section-scroll">
		<div class="section-page section-top-space-padding">
	        <div class="section-lead-text">
	        	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('world_of_ceci_testimonial_header')->toHtml(); ?>
	        </div>
            <?php echo $this->getChildHtml('client_testimonials'); ?>
        </div>
    </div>

    <!-- modal window -->
    <?php /*
    <div id="clients-tab-modal" class="white-popup mfp-hide careers-modal">
        <div class="modal-container">
            <div class="press-wrapper">
                <div class="left-column">
                    <img src="<?php echo $this->getSkinUrl('images/external/client-grid-lrg.jpg') ?>" alt="">
                </div>
                <div class="right-column">
                    <span class="mini-title">Wedding</span>
                    <h3>natalie & david, new york city</h3>
                    <p>Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>See this whole wedding in <a href="#">CeciStyle</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal window -->
    */ ?>
	<div class="btm-show-slides ptn-half-white">
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('world_of_ceci_bottom_images')->toHtml(); ?>
    </div>

</div>