<?php
$productId = $this->getProductId();
$_product = Mage::getModel('catalog/product')->loadByAttribute('sku', "samples"); //load the product
?>

<h2 class="black-page-title">Samples</h2>
<div class="cms-box rt-box no-padding no-top-border">
    <div class="wd2 f-left">
        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image'); ?>" >
    </div>
    <div class="wd2 f-right">
        <p class="avenir-heavy"><?php echo $_product->getShortDescription() ?></p>
        <p><?php echo $_product->getDescription(); ?></p>
        <div class=" buttons-set a-right">
            <a href="<?php echo $this->helper('checkout/cart')->getAddUrl($_product);?>"><button class="button"><span><span>Add to Bag</span></span></button></a>
        </div>
    </div>
</div>




