<div id="open-quiz" class="white-popup mfp-hide quiz-modal">
	<div class="modal-container">
		<?php /*
		<!-- STEP 1 -->
		<div class="quiz-wrapper">
			<h4 class="calson-book-italic">Let’s get started!</h4>
			<p class="baron-normal quiz-desc-txt">to better service you, please answer these <br> simple questions and we'll take care of the rest</p>
			<div class="quiz-form-wrapper">
				<div class="quiz-fields">
					<h2>what occasion are you celebrating?</h2>
					<form>
						<ul class="quiz-mini-form">
							<li>
								<label>
									<input type="checkbox">
									Wedding Day (includes save the dates, invitations, and branded event decor details)
								</label>
							</li>
							<li>
								<div class="split-field">
									<label>
										<input type="checkbox">
										Rehearsal Dinner
									</label>
									<label>
										<input type="checkbox">
										Farewell Brunch
									</label>
								</div>
							</li>
							<li>
								<label>
									<input type="checkbox">
									Love this design for another occasion and want to use it for my:
								</label>
							</li>
							<li>
								<select>
									<option>Baby Annoucement</option>
									<option>Baby Shower</option>
									<option>Wedding Party</option>
									<option>Drinking Event</option>
									<option>Family Party</option>
								</select>
							</li>
						</ul>

					</form>
				</div>
				<div class="buttons-set">
					<button class="button">
						<span>
							<span>
								Next
							</span>
						</span>
					</button>
				</div>
			</div>
		</div>
		
		*/ ?>
		<!-- STEP 2 -->
		<div class="quiz-wrapper">
			<h4 class="calson-book-italic">Let’s get started!</h4>
			<p class="baron-normal quiz-desc-txt">to better service you, please answer these <br> simple questions and we'll take care of the rest</p>
			<p class="calson-book-italic quiz-italic-desc">Not sure? Enter something and you can edit later.</p>
			<div class="quiz-form-wrapper">
				<div class="quiz-lg-fields">
					<form>

						<ul class="quiz-parent-form form-list-style">
							<li>
								<div class="lt-box">
									<label class="baron-normal q-title">how would you like to be referred to?</label>
								</div>
								<div class="rt-box">
									<div class="radio f-left">
										<label>
											<input type="radio" name="referred-name" />
											Bride & Groom
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="referred-name" />
											Partner & Partner
										</label>
									</div>
								</div>
							</li>

							<li>
								<div class="lt-box">
									<label class="baron-normal q-title align-label">what is the bride's name?</label>
								</div>
								<div class="rt-box">
									<div class="three-input">
										<input type="text" class="input-text" placeholder="First Name">
										<input type="text" class="input-text" placeholder="Middle Name">
										<input type="text" class="input-text" placeholder="Last Name">
									</div>
								</div>
							</li>

							<li>
								<div class="lt-box">
									<label class="baron-normal q-title align-label">what is the groom's name?</label>
								</div>
								<div class="rt-box">
									<div class="three-input">
										<input type="text" class="input-text" placeholder="First Name">
										<input type="text" class="input-text" placeholder="Middle Name">
										<input type="text" class="input-text" placeholder="Last Name">
									</div>
								</div>
							</li>


							<li>
							<div class="lt-box">
								<label class="baron-normal q-title">who is hosting the event?</label>
							</div>
							<div class="rt-box">
								<div class="f-left">
									<div class="radio">
										<label>
											<input type="radio" name="who-is-hosting" />
											1 Set of Parents
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="who-is-hosting" />
											The Couple
										</label>
									</div>
								</div>
								<div class="f-left">
									<div class="radio">
										<label>
											<input type="radio" name="who-is-hosting" />
											2 Set of Parents
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="who-is-hosting" />
											Everyone
										</label>
									</div>
								</div>
							</div>
							</li>
							<li>
								<div class="lt-box">
									<label class="baron-normal q-title align-label">what are the host's names?</label>
								</div>
								<div class="rt-box">
									<div class="two-input btm-margin">
										<input type="text" class="input-text" placeholder="Father's First Name">
										<input type="text" class="input-text" placeholder="Father's Last Name">
									</div>
									<div class="two-input">
										<input type="text" class="input-text" placeholder="Mother's First Name">
										<input type="text" class="input-text" placeholder="Mother's Last Name">
									</div>
								</div>
							</li>
							<li>
								<div class="lt-box">
									<label class="baron-normal q-title align-label">When is your event date?</label>
								</div>
								<div class="rt-box">
									<div class="single-input calendar-wrapper">
										<input type="text" class="input-text calendar-input">
										<i class="icon-calendar"></i>
									</div>
								</div>
							</li>
							<li>
								<div class="lt-box">
									<label class="baron-normal q-title">is your ceremony taking place in a house <br> of worship 
									(temple, church, synagogue)?</label>
								</div>
								<div class="rt-box">
									<div class="radio f-left">
										<label>
											<input type="radio" name="ceremoney-taking-place" />
											Yes
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="ceremoney-taking-place" />
											No
										</label>
									</div>
								</div>
							</li>
							<li>
								<div class="lt-box">
									<label class="baron-normal q-title align-label">ceremoney location</label>
								</div>
								<div class="rt-box">
									<div class="single-input btm-margin">
										<input type="text" class="input-text" placeholder="Venue/Location Name">
									</div>
									<div class="single-input">
										<input type="text" class="input-text" placeholder="City, State/Province, Country">
									</div>
								</div>
							</li>
							<li>
								<div class="lt-box">
									<label class="baron-normal q-title align-label">reception location</label>
								</div>
								<div class="rt-box">
									<div class="single-input btm-margin">
										<input type="text" class="input-text" placeholder="Venue/Location Name">
									</div>
									<div class="single-input">
										<input type="text" class="input-text" placeholder="City, State/Province, Country">
									</div>
								</div>
							</li>
							<li>
								<div class="lt-box">
									<label class="baron-normal q-title">what type of attire?</label>
								</div>
								<div class="rt-box">
									<div class="three-input btm-margin">
										<div class="checkbox f-left">
											<label>
												<input type="checkbox" />
												Black tie
											</label>
										</div>
										<div class="checkbox f-left">
											<label>
												<input type="checkbox" />
												Black tie optional
											</label>
										</div>
										<div class="checkbox f-left">
											<label>
												<input type="checkbox" />
												Formal attire
											</label>
										</div>
									</div>
									<div class="three-input btm-margin">
										<div class="checkbox f-left">
											<label>
												<input type="checkbox" />
												Cocktail attire
											</label>
										</div>
										<div class="checkbox f-left">
											<label>
												<input type="checkbox" />
												Casual attire
											</label>
										</div>
										<div class="checkbox f-left">
											<label>
												<input type="checkbox" />
												Elegant attire
											</label>
										</div>
									</div>
									<div class="next-line">
										<div class="checkbox f-left">
											<label>
												<input type="checkbox" />
												Other
											</label>
										</div>
										<input type="text" class="input-text" placeholder="Other">
									</div>
								</div>
							</li>
						</ul>

					</form>
				</div>
				<div class="buttons-set">
					<button class="button">
						<span>
							<span>
								Next
							</span>
						</span>
					</button>
					<p class="calson-book-italic">This is just to get you started. You can always change it later!</p>
					<?php /*
					<button class="button greybtn f-left">
						<span>
							<span>
								Back
							</span>
						</span>
					</button>
					*/ ?>
				</div>
			</div>
		</div>
		
		<?php /*
		<!-- STEP 3 -->
		<div class="quiz-wrapper">
			<div class="quiz-form-wrapper">
				<form>
					<div class="quiz-lg-fields">
						<ul class="quiz-parent-form form-list-style">
							<li>
								<div class="lt-box">
									<h4 class="baron-normal q-title">When is your event date?</h4>
								</div>
								<div class="rt-box single-input calendar-wrapper">
									<input type="text" class="input-text calendar-input">
									<i class="icon-calendar"></i>
								</div>
							</li>
							<li>
								<div class="lt-box">
									<h4 class="baron-normal q-title">what is your venue or location name?</h4>
								</div>
								<div class="rt-box multi-input">
									<input type="text" class="input-text" placeholder="Venue/Location Name">
									<input type="text" class="input-text" placeholder="City, State/Province, Country">
								</div>
							</li>


							<li>
							<div class="lt-box">
								<h4 class="baron-normal q-title">what type of attire?</h4>
							</div>
							<div class="rt-box">
								<label>
									<input type="checkbox" />
									Black tie
								</label>
								<label>
									<input type="checkbox" />
									Black tie optional
								</label>
								<label>
									<input type="checkbox" />
									Formal attire
								</label>
								<label>
									<input type="checkbox" />
									Cocktail attire
								</label>
								<label>
									<input type="checkbox" />
									Casual attire
								</label>
								<label>
									<input type="checkbox" />
									Elegant attire
								</label>
								<div class="next-line">
									<label>
										<input type="checkbox" />
										Other
									</label>
									<input type="text" class="input-text" placeholder="Other">
									<p class="calson-book-italic">This is just to get you started. You can always change it later!</p>
								</div>
							</div>
							</li>
						</ul>
					</div>
					<div class="buttons-set">
						<button class="button" type="submit">
							<span>
								<span>
									Next
								</span>
							</span>
						</button>
						<button class="button greybtn f-left">
							<span>
								<span>
									Back
								</span>
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<!-- END STEP 3 -->
		*/ ?>

	</div>
</div>