<script type="text/javascript" src="//d116tqlcqfmz3v.cloudfront.net/cecinewyork-126/carousel.js"></script>
<script type="text/javascript">
    Curalate.FanReels.Carousel.init({ code: "cecinewyork" });
</script>
