<?php

/**
 * @package Cybersource
 * @subpackage PaymentManagement
 * @author ----
 */

$_code = $this->getMethodCode();
?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li>
        <label for="<?php echo $_code ?>_cc_type" class="required"><em>*</em><?php echo $this->__('Credit Card Type') ?></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" class="required-entry validate-cc-type-select">
                <option value=""><?php echo $this->__('--Please Select--') ?></option>
                <?php $_ccType = $this->getInfoData('cc_type') ?>
                <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>"<?php if ($_typeCode == $_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_cc_number" class="required"><em>*</em><?php echo $this->__('Credit Card Number') ?></label>
        <div class="input-box">
            <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text validate-cc-number validate-cc-type" value="" />
        </div>
    </li>
    <li id="<?php echo $_code ?>_cc_type_exp_div">
        <label for="<?php echo $_code ?>_expiration" class="required"><em>*</em><?php echo $this->__('Expiration Date') ?></label>
        <div class="input-box">
            <div class="v-fix">
                <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp required-entry">
                    <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                    <?php foreach ($this->getCcMonths() as $k => $v): ?>
                        <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                    <?php endforeach ?>
                </select>
            </div>
            <div class="v-fix">
                <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
                <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry">
                    <?php foreach ($this->getCcYears() as $k => $v): ?>
                        <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
    </li>
    <?php echo $this->getChildHtml() ?>
    <?php if ($this->hasVerification()): ?>
        <li id="<?php echo $_code ?>_cc_type_cvv_div">
            <label for="<?php echo $_code ?>_cc_cid" class="required"><em>*</em><?php echo $this->__('Card Verification Number') ?></label>
            <div class="input-box">
                <div class="v-fix">
                    <input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" value="" />
                </div>
                <a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
            </div>
        </li>
        <script type="text/javascript">
            var cc_select = $("<?php echo $_code ?>_cc_type");
            function require_ccv(cc_type){
                var ccv = $("<?php echo $_code ?>_cc_cid");
                var except = '<?php echo $this->getVerificationExceptions() ?>'.split(',');
                if(except.indexOf(cc_type) != -1){
                    ccv.removeClassName('required');
                    ccv.up('li').hide();
                } else {
                    ccv.addClassName('required');
                    ccv.up('li').show();
                }
            }
            require_ccv(cc_select.getValue());
            cc_select.observe('change', function(event){
                var elm = Event.findElement(event, 'select');
                require_ccv(elm.getValue());
            });
        </script>
    <?php endif; ?>

    <?php if ($this->hasSsCardType()): ?>
        <li id="<?php echo $_code ?>_cc_type_ss_div">
            <ul class="inner-form">
                <li class="form-alt"><label for="<?php echo $_code ?>_cc_issue" class="required"><em>*</em><?php echo $this->__('Switch/Solo/Maestro Only') ?></label></li>
                <li>
                    <label for="<?php echo $_code ?>_cc_issue"><?php echo $this->__('Issue Number') ?>:</label>
                    <span class="input-box">
                        <input type="text" title="<?php echo $this->__('Issue Number') ?>" class="input-text validate-cc-ukss cvv" id="<?php echo $_code ?>_cc_issue" name="payment[cc_ss_issue]" value="" />
                    </span>
                </li>

                <li>
                    <label for="<?php echo $_code ?>_start_month"><?php echo $this->__('Start Date') ?>:</label>
                    <div class="input-box">
                        <div class="v-fix">
                            <select id="<?php echo $_code ?>_start_month" name="payment[cc_ss_start_month]" class="validate-cc-ukss month">
                                <?php foreach ($this->getCcMonths() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $this->getInfoData('cc_ss_start_month')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <div class="v-fix">
                            <select id="<?php echo $_code ?>_start_year" name="payment[cc_ss_start_year]" class="validate-cc-ukss year">
                                <?php foreach ($this->getSsStartYears() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $this->getInfoData('cc_ss_start_year')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="adv-container">&nbsp;</li>
            </ul>
            <script type="text/javascript">
                //<![CDATA[
                var SSChecked<?php echo $_code ?> = function() {
                    var elm = $('<?php echo $_code ?>_cc_type');
                    if (['SS','SM','SO'].indexOf(elm.value) != -1) {
                        $('<?php echo $_code ?>_cc_type_ss_div').show();
                    } else {
                        $('<?php echo $_code ?>_cc_type_ss_div').hide();
                    }
                };

                Event.observe($('<?php echo $_code ?>_cc_type'), 'change', SSChecked<?php echo $_code ?>);
                SSChecked<?php echo $_code ?>();
                //]]>
            </script>
        </li>
    <?php endif; ?>
</ul>
<script type="text/javascript">
    //<![CDATA[
    // @todo Find EuroCard Regexp
    //Validation.creditCartTypes.set('EC', Validation.creditCartTypes.get('OT'));
    Validation.creditCartTypes.set('DC', [new RegExp('^3(?:0[0-5]|[68][0-9])[0-9]{11}$'), new RegExp('^([0-9]{3}|[0-9]{4})?$'), true]);
    Validation.creditCartTypes.set('CBLANCHE', [new RegExp('^30[0-5][0-9]{11}$'), new RegExp('^([0-9]{3}|[0-9]{4})?$'), true]);
    Validation.creditCartTypes.set('JCB', [new RegExp('^(35[0-9]{14}|(2131|1800)[0-9]{11})$'), new RegExp('^([0-9]{3})?$'), true]);
    Validation.creditCartTypes.set('ER', [new RegExp('^(2014|2019)[0-9]{11}$'), new RegExp('^([0-9]{3}|[0-9]{4})?$'), true]);
    // @todo Find JAL Regexp
    //Validation.creditCartTypes.set('JAL', Validation.creditCartTypes.get('OT'));
    Validation.creditCartTypes.set('DE', [new RegExp('^(4137|4462|45|46|48|49)[0-9]{12,14}$'), new RegExp('^([0-9]{3}|[0-9]{4})?$'), true]);
    Validation.creditCartTypes.set('DI', [new RegExp('^6(?:011|5[0-9]{2})[0-9]{12}$'), new RegExp('^([0-9]{3}|[0-9]{4})?$'), true]);
    Validation.creditCartTypes.set('VE', [new RegExp('^(4026|417500|4508|4844|4913|4917)[0-9]{10, 12}$'), new RegExp('^([0-9]{3}|[0-9]{4})?$'), true]);
    Validation.creditCartTypes.set('DA', [new RegExp('^4571[0-9]{12}$'), new RegExp('^([0-9]{3}|[0-9]{4})?$'), true]);
    Validation.creditCartTypes.set('LA', [new RegExp('^((6304|6706|6771|6709)[0-9]{12}([0-9]{3}))$'), new RegExp('^([0-9]{3})?$'), true]);
    Validation.creditCartTypes.set('CBLEUE', [new RegExp('^4[0-9]{12,15}$'), new RegExp('^([0-9]{3}|[0-9]{4})?$'), true]);
    Validation.creditCartTypes.set('CS', [new RegExp('^4[0-9]{15}$'), new RegExp('^([0-9]{3}|[0-9]{4})?$'), true]);
    // @todo Find Encoded Account Number Regexp
    //Validation.creditCartTypes.set('EAN', Validation.creditCartTypes.get('OT'));
    Validation.creditCartTypes.set('UATP', [false, new RegExp('^[0-9]{3}([0-9]{1})?$'), false]);
    // @todo Find Maestro International Regexp
    //Validation.creditCartTypes.set('MI', Validation.creditCartTypes.get('OT'));
    // @todo Find Santander Card Regexp
    //Validation.creditCartTypes.set('SC', Validation.creditCartTypes.get('OT'));
    //]]>
</script>
