
<h3>Manage Wordings for Category</h3>

<?php $this->getBaseUrl(); ?>

<?php
if (!$this->getCategory()->getId()) {
    echo "<h4>Please save category before modifying wordings.</h4>";
    return;
}
?>

<?php
$saveButton = '<button title="Save" type="button" class="scalable save" style="">
    <span><span><span>Save</span></span></span>
</button>';
$updateButton = '<button title="Save" type="button" class="scalable save" style="">
    <span><span><span>Update</span></span></span>
</button>';
$deleteButton = '<button title="Delete" type="button" class="scalable delete"  style="">
    <span><span><span>Delete</span></span></span>
</button>';
$closeButton = '<button title="Cancel" type="button" class="scalable delete"  style="">
    <span><span><span>Cancel</span></span></span>
</button>';
$addButton = '<button title="Add Template" type="button" class="scalable add" style="">
    <span><span><span>Add New Template</span></span></span>
</button>'
?>



<script>


    window.showNewTemplate = function () {
        window.wordingServer(
                function (transport) {
                    $('template_grid').update(transport.responseText);
                    $('template_grid_container').show();
                    $('template_wordings_container').hide();
                });

    };

    window.wordingServer = function (cb) {
        new Ajax.Request('<?= $this->getWordingUrl(); ?>', {
            onSuccess: cb
        });
    };

    window.wordingCategoryServer = function (pm, cb) {
        new Ajax.Request('<?= $this->getCategoryWordingUrl(); ?>', {
            parameters: pm,
            onSuccess: cb
        });
    };

    window.chooseRow = function (id) {
        wordingCategoryServer({
            action: 'addTemplate',
            option_id: $('ptype_id').getValue(),
            category_id: $("category_id").getValue(),
            product_type: $("ptype_id").getValue(),
            wording_id: id
        }, showCategoryWordingsFromAjax);
    };



    window.closeWording = function () {
        $('template_wordings_container').show();
        $('template_grid_container').hide();
    };


    
    window.loadCategoryWordings = function (id) {
        if (!parseInt(id)) {
            $('template_wordings_container').hide();
            return false;
        }
        wordingCategoryServer({'option_id': id, category_id: $("category_id").getValue()}, showCategoryWordingsFromAjax);
    };

    window.showCategoryWordingsFromAjax = function (transport) {
        $('template_wordings').update(transport.responseText);
        $('template_wordings_container').show();
        $('template_grid_container').hide();
    };

    window.customMassAction = function () {
        
        var type = $('wording_id_massaction-select').getValue();
        if( !type ){
            alert('Please select action');
            return;
        }
        
        var elements = $$('#wording_id_table tbody tr');

        var items = {};
        
        var selected = false;

        elements.each(
                function (element) {
                    var checked = element.select('input[type="checkbox"]');
                    if ( typeof checked[0] !== 'undefined' && checked[0].getValue()) {
                        selected = true;
                        var position = element.select('input[name="position"]');
                        items[checked[0].getValue()] = position[0].getValue();
                    };
                }
        );

        if( !selected ){
            alert( 'No items selected.');
            return;
        }


        wordingCategoryServer({
            action: 'mass' + type,
            "items": JSON.stringify(items),
            option_id: $('ptype_id').getValue(),
            category_id: $("category_id").getValue(),
            product_type: $("ptype_id").getValue(),
            wording_id: id
        }, showCategoryWordingsFromAjax);
    };




//    window.templateServer( parameters ){
//        new Ajax.Request('template', {
//            'parameters': parameters,
//            onSuccess: function (transport) {
//                $('templates').update(transport.responseText);
//            }
//        });
//    }

</script>  
<input type="hidden" id="category_id" value="<?= $this->getCategory()->getId(); ?>"/>

<h4>Choose Product Type</h4>

<select id="ptype_id" style="margin-bottom:20px" onchange="loadCategoryWordings($('ptype_id').getValue())">
    <option>--Choose Product Type--</option>
    <?php foreach ($this->getProductTypes() as $pType): ?>
        <option value="<?= $pType['value']; ?>"><?= $pType['label']; ?></option>
    <?php endforeach; ?> 
</select>

<br/>

<div id="template_wordings_container" style="display: none; padding:20px; border:solid 1px;">
    <div onclick="showNewTemplate()">
        <?= $addButton; ?>
    </div>
    <h3>Wordings</h3>
    <div id="template_wordings"></div>
</div>


<div id="template_grid_container" style="display:none; padding:20px; border:solid 1px;" >  
    <div span style="float:right" onclick="closeWording()"><?= $closeButton; ?></div>
    <h3>Choose Wording</h3>
    <br/>
    <div id="template_grid"></div>
</div>


