<div class="entry-edit">
    <?php echo $this->getFormHtml(); ?>            
    <div id="templates"> 
        <?= $this->getChildHtml('wording_templates'); ?>
    </div>    
</div>
<?php echo $this->getChildHtml('form_after'); ?>


<script>
    
    function templateServer( parameters ){
        new Ajax.Request('template', {
            'parameters': parameters,
            onSuccess: function (transport) {
                $('templates').update(transport.responseText);
            }
        });
    }
    
    
    function handleDeleteTemplate(id) {
        if( confirm('Are you sure you want to delete this template?') ){
            templateServer({isAjax: 'true', action: 'delete', id: id});
        }
    }

    function handleUpdateTemplate(id) {
        templateServer({isAjax: 'true', action: 'update', id: id, textValue: $('update_template_area_' + id).getValue()});
    }

    function showNewTemplate() {
        $('add_template').hide();
        $('new_template').show();
    }

    function postNewTemplate() {
        templateServer({isAjax: 'true', action: 'create', textValue: $('new_template_area').getValue()});
    }

</script>

