
<h3>Manage Wordings for Product</h3>

<?php
$saveButton = '<button title="Save" type="button" class="scalable save" style="">
    <span><span><span>Save</span></span></span>
</button>';
$updateButton = '<button title="Save" type="button" class="scalable save" style="">
    <span><span><span>Update</span></span></span>
</button>';
$deleteButton = '<button title="Delete" type="button" class="scalable delete"  style="">
    <span><span><span>Delete</span></span></span>
</button>';
$closeButton = '<button title="Cancel" type="button" class="scalable delete"  style="">
    <span><span><span>Cancel</span></span></span>
</button>';
$addButton = '<button title="Add Template" type="button" class="scalable add" style="">
    <span><span><span>Add New Template</span></span></span>
</button>'
?>



<script>


    window.showNewTemplate = function () {
        window.wordingServer(
                function (transport) {
                    $('template_grid').update(transport.responseText);
                    $('template_grid_container').show();
                    $('template_wordings_container').hide();
                });

    };

    window.wordingServer = function (cb) {
        new Ajax.Request('<?= $this->getWordingUrl(); ?>', {
            onSuccess: cb
        });
    };

    window.wordingProductServer = function (pm, cb) {
        new Ajax.Request('<?= $this->getProductWordingUrl(); ?>', {
            parameters: pm,
            onSuccess: cb
        });
    };

    window.chooseRow = function (id) {
        wordingProductServer({
            action: 'addTemplate',
            product_id: $('product_id').getValue(),                        
            wording_id: id
        }, showProductWordingsFromAjax);
    };



    window.closeWording = function () {
        $('template_wordings_container').show();
        $('template_grid_container').hide();
    };



    window.loadCategoryWordings = function (id) {
        if (!parseInt(id)) {
            $('template_wordings_container').hide();
            return false;
        }
        wordingProductServer({'product_id': id}, showProductWordingsFromAjax);
    };

    window.showProductWordingsFromAjax = function (transport) {
        $('template_wordings').update(transport.responseText);
        $('template_wordings_container').show();
        $('template_grid_container').hide();
    };

    window.customMassAction = function () {
        
        var type = $('wording_id_massaction-select').getValue();
        if( !type ){
            alert('Please select action');
            return;
        }
        
        var elements = $$('#wording_id_table tbody tr');

        var items = {};
        
        var selected = false;

        elements.each(
                function (element) {
                    var checked = element.select('input[type="checkbox"]');
                    if (typeof checked[0] !== 'undefined' && checked[0].getValue()) {
                        selected = true;
                        var position = element.select('input[name="position"]');
                        items[checked[0].getValue()] = position[0].getValue();
                    };
                }
        );

        if( !selected ){
            alert( 'No items selected.');
            return;
        }
        
        wordingProductServer({
            action: 'mass' + type,
            "items": JSON.stringify(items),
            product_id: $('product_id').getValue(),                                    
        }, showProductWordingsFromAjax);
    };




//    window.templateServer( parameters ){
//        new Ajax.Request('template', {
//            'parameters': parameters,
//            onSuccess: function (transport) {
//                $('templates').update(transport.responseText);
//            }
//        });
//    }

</script>  
<input type="hidden" id="product_id" value="<?= $this->product->getId(); ?>"/>

<div id="template_wordings_container" style="padding:20px; border:solid 1px;">
    <div onclick="showNewTemplate()">
        <?= $addButton; ?>
    </div>
    <h3>Wordings</h3>
    <div id="template_wordings">
        <?php echo $this->getProductWordingGrid(); ?>
    </div>
</div>


<div id="template_grid_container" style="display:none; padding:20px; border:solid 1px;" >  
    <div span style="float:right" onclick="closeWording()"><?= $closeButton; ?></div>
    <h3>Choose Wording</h3>
    <br/>
    <div id="template_grid"></div>
</div>


