<?php
$saveButton = '<button title="Save" type="button" class="scalable save" style="">
    <span><span><span>Save</span></span></span>
</button>';
$updateButton = '<button title="Save" type="button" class="scalable save" style="">
    <span><span><span>Update</span></span></span>
</button>';
$deleteButton = '<button title="Delete" type="button" class="scalable delete"  style="">
    <span><span><span>Delete</span></span></span>
</button>';
$addButton =
'<button title="Add Template" type="button" class="scalable add" style="">
    <span><span><span>Add New Template</span></span></span>
</button>'
?>
<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend">Paragraph Wordings</h4>
</div>    
<?php if( !$this->paragraphId ):?>
<fieldset>
    <h5>Save paragraph in order to add wordings...</h5>
</fieldset>
<?php else:?>
    <fieldset>
        <?php if( $this->messages ) echo $this->messages->toHtml();?>
        <fieldset>
            <span onclick="showNewTemplate()" id="add_template"> 
                <?= $addButton; ?>
            </span>
            <div id="new_template" style="display:none;">
                <span onclick="postNewTemplate()" > 
                    <?=$saveButton;?>      
                </span>
                <br/><br/>
                <textarea type="textarea" id="new_template_area" class="required-entry textarea" rows="10" cols="60" ></textarea>            
            </div>
        </fieldset>
    <?php foreach ($this->getTemplates() as $template): ?>
            <fieldset>
                <h4 class="icon-head head-edit-form fieldset-legend">Template</h4>
                <div>
                    <span onclick="handleUpdateTemplate(<?= $template->getId(); ?>)"><?=$updateButton;?></span>
                    <span onclick="handleDeleteTemplate(<?= $template->getId(); ?>)"><?=$deleteButton;?></span>
                </div>            
                <br/>
                <textarea type="textarea" id="update_template_area_<?= $template->getId(); ?>" class="required-entry textarea" rows="10" cols="60" ><?= $template->getTemplate(); ?></textarea>
            </fieldset>        
    <?php endforeach; ?>
    </fieldset> 
<?php endif;?>