<?php
/**
 * Amazon Payments
 *
 * @category    Amazon
 * @package     Amazon_Payments
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
 */
?>

<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <li class="form-alt">
    You will be redirected to the Amazon website.
        <div class="amazon-redirect-btn">
        <?php echo Mage::app()->getLayout()->createBlock('amazon_payments/button')->setTemplate('amazon_payments/button.phtml')->toHtml(); ?>
        </div>
    </li>
</ul>

<script type='text/javascript'>

Element.prototype.triggerEvent = function(eventName) {
    if (document.createEvent) {
        var evt = document.createEvent('HTMLEvents');
        evt.initEvent(eventName, true, true);
        return this.dispatchEvent(evt);
    }
    if (this.fireEvent)
        return this.fireEvent('on' + eventName);
}

// Display login on radio select
$$("input[name='payment[method]']").each(function(el) {
    el.observe('change', function() {
        if (el.value == 'amazon_payments') {
            $$("#payment_form_amazon_payments img")[0].triggerEvent('click');
        }
    })
})

</script>