<?php
/**
 * Amazon Payments
 *
 * @category    Amazon
 * @package     Amazon_Payments
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
 */
?>

<h2><?php echo $this->__('Shipping Method'); ?></h2>

<form id="co-shipping-method-form" action="">
    <div id="checkout-shipping-method-load">
       <!-- Content loaded dynamically -->
    </div>

    <div id="checkout-shipping-method-additional-load">
        <?php echo $this->getChildHtml('additional') ?>
    </div>

</form>

<script type="text/javascript">
//<![CDATA[
	jQuery(window).load(function(){
		jQuery('#checkout-shipping-method-load input[type="radio"]').ezMark();
	});
//]]>
</script>
