<?php
/**
 * Kendola Login With Amazon for Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Kendola
 * @package    Kendola_AmazonLogin
 * @author     Oliver Treck, kendola - easy eCommerce <o.treck@kendola.de>
 * @copyright  Copyright (c) 2013 kendola - easy eCommerce (http://www.kendola.de/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php /*
<div class="col2-set">
    <div class="col-1"></div>
    <div class="col-2<?php echo (1!=@$this->noclass)?' account-login':''; ?>">
        <div class="buttons-set">
            <strong class="f-left" style="line-height: 32px;"><?php echo $this->__('OR'); ?> </strong>
            <button id="LoginWithAmazon" style="border:0;background-color:transparent;cursor:pointer;">
              <img border="0" href="#" alt="Login with Amazon"
                src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                width="156" height="32" />
            </button>
        </div>
    </div>
</div>
*/ ?>

    <a href="#" id="LoginWithAmazon" class="loginWithAmazon">
        <img border="0" alt="Login with Amazon"
             src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gry_156x132.png"
             width="156" height="32" />
    </a>
<?php $helper = Mage::helper('amazonlogin');?>
<div id="amazon-root"></div>
<div id="fb-root"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    window.onAmazonLoginReady = function() {
          amazon.Login.setClientId('<?php echo $helper->getClientId(); ?>');
    };
    (function(d) {
        var a = d.createElement('script'); a.type = 'text/javascript';
        a.async = true; a.id = 'amazon-login-sdk';
        a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
        d.getElementById('amazon-root').appendChild(a);
    })(document);

    function LoginWithAmazon() {
        if (window.location.protocol == 'https:') {
            options = {scope: 'profile postal_code', response_type: 'token'};
            amazon.Login.authorize(options, function (response) {
                if (response.error) {
                    alert('oauth error ' + response.error);
                    return;
                }
                document.location.href = "<?php echo $this->getUrl('amazonlogin/customer/login', array('_forced_secure'=>true))?>?token=" + response.access_token;
            });
        } else {
            window.location = window.getSecureUrl('?popup=1&amazon-login=1');
        }
    };

    var button = document.getElementById('LoginWithAmazon');
    //getElementsByClassName()
    if(button!==undefined && button!==null) {
        button.onclick = function() {
            LoginWithAmazon();
            return false;
        };
    }
    var buttons = document.getElementsByClassName("loginWithAmazon");
    for(var i=0;i<buttons.length;i++){
        buttons[i].addEventListener('click',LoginWithAmazon, false);
    }

    /*]]>*/
</script>



