

<?php
$productTypeLabels = Mage::helper('pixtemplates/menu')->getProductTypeLabels();
$groups = Mage::helper('pixtemplates/menu')->getProductGroupTypeProductTypes();
?>
<?php /*
<?php $productTypeGroups = Mage::helper('pixtemplates/menu')->getProductTypeGroups(); ?>
<ul class="category-links">
    <!-- set of links -->
    <?php foreach ($productTypeGroups as $liGroups): ?>
        <li>
            <?php foreach ($liGroups as $groupName => $productTypes): ?>
                <ul>
                    <li><span class="large-title"><?php echo $groupName; ?></span></li>
                    <?php foreach ($productTypes as $productType): ?>
                        <li><a href="#"><?php echo $productType; ?></a></li>
                    <?php endforeach; ?>
                </ul>
            <?php endforeach; ?>
        </li>
    <?php endforeach; ?>
</ul>
*/ ?>
<ul class="category-links">
    <!-- set of links -->
    <?php foreach ($groups as $liGroups): ?>
        <li>
            <ul>
                <li><span class="large-title"><?php echo $liGroups['name']; ?></span></li>
                <?php foreach ($liGroups['values'] as $valueId): ?>
                    <li><a href="<?php echo Mage::helper('core/url')->getCurrentUrl().'?product_type='.$valueId ?>"><?php echo $productTypeLabels[$valueId]; ?></a></li>
                <?php endforeach; ?>
            </ul>
        </li>
    <?php endforeach; ?>
</ul>


