<div class="col-block flower-ptn">
    <div class="card-curved"></div>
    <h3 class="clear"><span class="it-txt">Beautify </span><br/>Your World</h3>
    <p class="caslon-book">With our fabulous new look comes YoursTruly&copy; - our shiny new personalization tool that we're sure you'll love as much as we do.</p>
    <a href="" class="baron-normal arrow-link"><i class="icon-left-dir"></i>Watch The Tutorial</a>
</div>
<div class="col-block brown-ptn no-shadow">
    <h3>Contact a <span class="it-txt"><br/>Ceci Stylist</span></h3>
    <p class="caslon-book white-txt">Not seeing what you’re looking for? Our Ceci Stylists are here to help you!</p>
    <div class="contact-side-wrapper clearfix">
        <a href="" class="contact-btn"><i class="icon-phone"></i><br/><span class="avenir-medium">Call</span></a>
        <a href="" class="contact-btn"><i class="icon-chat"></i><br/><span class="avenir-medium">Chat</span></a>
    </div>
</div>
<div class="col-block">
    <h3><span class="it-txt">Olapic</span> <br/>Module Here</h3>
    <img src="<?php echo $this->getSkinUrl('images/external/col-block-img-01.jpg') ?>" alt="Product List">
</div>
<div class="col-block">
    <h3><span class="it-txt">Real</span> #CECIBRIDE</h3>
    <img src="<?php echo $this->getSkinUrl('images/external/col-block-img-02.jpg') ?>" alt="Product List">
    <p class="caslon-book image-txt">Being a Ceci Bride was truly the best decision I made in the entire wedding planning process!</p>
    <span class="baron-normal author-name-txt">-Liza</span>
</div>