<div class="cat-banner">            
    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?><?php echo $this->getImage(); ?>" alt="">
    <?php if ($this->getDescription()): ?>
    <h1 class="caslon-book"><?php echo $this->getDescription(); ?></h1>
	<?php endif ?>
    <h2 class="baron-normal"><?php echo $this->getTitle(); ?></h2>
</div>