<?php echo $this->__('You are now being redirected back to ceci-ny.com. </br> If this window does not automatically close within 5 seconds, please close this window to continue shopping.'); ?>
<script type="text/javascript">
	<?php
		if($this->getReloadParent()):
			echo 'window.opener.location.reload(true);';
		endif;
	?>
	window.close();
</script>