<?php $product = Mage::registry('current_product'); ?>
<?php $_helper = Mage::helper('catalog/output'); ?>
<?php $_productName = urlencode(trim($_helper->productAttribute($product, $product->getName(), 'name')))?>
<?php $_productUrl = $product->getProductUrl()?>
<meta property="fb:app_id" content="<?php echo Mage::getStoreConfig('pixfacebook/connection/id', Mage::app()->getStore()); ?>"/>
<meta property="og:site_name" content="cecinewyork.com" />
<meta property="og:url" content="<?php echo $_productUrl; ?>" />
<meta property="og:title" content="<?php echo $product->getName(); ?>" />
<meta property="og:description" content="<?php echo $product->getName(); ?>" />
<meta property="og:image" content="<?php echo Mage::helper('catalog/image')->init($product, 'image')->resize(200, 200); ?>" />