*, *:before, *:after {
	
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

 }

 .main {position: relative;}
 .col-center {max-width: 1000px; margin: 0 auto;}
 

 /* Global ================================================================================= */
 a.button {
 	display: inline-block;
 	line-height: 22px; 
 	color: #fff; 
 	text-align: center;
 	font-family: 'baron_neuenormal_50'; 
 	text-transform: lowercase; 
 	font-size: 14px;
 	letter-spacing: 1px;
	height:50px;
	padding: 15px 22px;
	border-radius:5px;
	background-color: rgb(167, 139, 83);
	background-image:linear-gradient(-90deg, rgb(190, 167, 114), rgb(190, 167, 114) 50%, rgb(167, 139, 83));
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(190, 167, 114)), color-stop(0.5, rgb(190, 167, 114)), to(rgb(167, 139, 83)));
	background-image:-moz-linear-gradient(-90deg, rgb(190, 167, 114), rgb(190, 167, 114) 45%, rgb(167, 139, 83));
	-webkit-box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0 1px 2px 0 rgba(50, 50, 50, 0.4);
	box-shadow:         0 1px 2px 0 rgba(50, 50, 50, 0.4);
}

a.button:hover {
	background-color: rgb(167, 139, 83);
	background-image:linear-gradient(-90deg, rgb(167, 139, 83), rgb(190, 167, 114) 50%, rgb(190, 167, 114));
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(167, 139, 83)), color-stop(0.5, rgb(190, 167, 114)), to(rgb(190, 167, 114)));
	background-image:-moz-linear-gradient(-90deg, rgb(167, 139, 83), rgb(190, 167, 114) 45%, rgb(190, 167, 114));
	-webkit-box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0 1px 2px 0 rgba(50, 50, 50, 0.4);
	box-shadow:         0 1px 2px 0 rgba(50, 50, 50, 0.4);
}
/* Select
------------------- */

select.unused{
	display: none;
}

/*These should be used if native select box style is ok and the options don't need styling.*/
/*.csstransforms select.unused {
	display: block;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: 	none;
	appearance: 		none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: 	border-box;
	box-sizing: 		border-box;
	padding: 	 4px 10px;
	font-size: 	 11px;
	font-weight: 700;
	text-transform: uppercase;
	background: url('../images/icon-big-select-arrow.png') right center no-repeat #FFF;
}
.csstransforms .disabledselect + select {
	display: none;
}*/

.pix-selectable-trigger {

	display: block;
	height: 15px;
	overflow: hidden;
	margin:0;
}

.pix-selectable, 
.disabledselect { 
	font-size:12px; 
	letter-spacing: 1px; 
	color: #000; 
	cursor: pointer; 
	padding: 12px 55px 3px 15px; 
	height:44px; 
	border: 1px solid #000; 
	background: url('../images/icon-select.gif') right center no-repeat #fff; 
	position: relative;
    font-family:'ITC Caslon 224 W01 Book';
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

.pix-selectable ul {
	box-sizing: content-box; 
	left:0;
	top:43px;
	position: absolute; 
	width: 100%; 
	overflow: auto; 
	background: #fbfaed; 
	z-index: 200; 
	max-height:300px; 
	display: none;
	-webkit-box-shadow: 3px 5px 12px -5px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 5px 12px -5px rgba(0,0,0,0.25);
	box-shadow: 3px 5px 12px -5px rgba(0,0,0,0.25);
}
.pix-selectable.active ul { 
	display: block;
}

.pix-selectable.active ul li { 
	border-bottom: 1px solid #d8d2ba; 
	padding: 10px 15px; 
	text-align: left; 
	margin:0; 
}

.pix-selectable a:hover {
	text-decoration: none;
}

.pix-selectable.active ul li:nth-last-child(1) {
	border-bottom:0;
}

.pix-selectable.active ul li:hover,
.pix-selectable.active ul li.active { 
	background: #faf3d6; 
	cursor: pointer;
}

.disabledselect {
	opacity: 0.3;
	cursor: default;
}

/* Checkbox and Radio Buttons
----------------------------------- */
.icheckbox_flat-black,
.iradio_flat-black {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 12px;
	height: 12px;
	background: url('../images/icon-checkbox.gif') no-repeat;
	border: none;
	cursor: pointer;
}

.icheckbox_flat-black {
	background-position: 0 0;
}

.icheckbox_flat-black.checked {
    background-position: 0 -12px;
}

.icheckbox_flat-black.disabled {
    background-position: 0 -24px;
    cursor: default;
}

.icheckbox_flat-black.checked.disabled {
    background-position: 0 -24px;
}

.iradio_flat-black {
	background-position: 0 -12px;
}

.iradio_flat-black.checked {
    background-position: 0 -12px;
}

.iradio_flat-black.disabled {
    background-position: 0 -24px;
    cursor: default;
}

.iradio_flat-black.checked.disabled {
    background-position: 0 -24px;
}

.overlay {
	background:#0b0b0b;
	height: 100%;
	left: 0;
	opacity: 0.6;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.extra-btns .resetlink,
.extra-btns .button {float:right;}
.extra-btns .resetlink { margin:18px 20px 0 0; text-decoration: underline;}


.full-wdith { width: 100%;}
a.white-link {color: #fff; text-decoration: underline;}
a.white-link:hover {color: #bea772; text-decoration: none;}
.caption {font-size: 10px; text-align: center; margin-top: 20px;}
.icon-cancel {background-image: linear-gradient(transparent, transparent), url('../svg/cancel.svg'); background-position: center center; width: 9px; height: 9px; display: inline-block; position: relative; }
.icon-cancel-circled-outline {position: absolute; top: -8px; right: 82px; color: #fff; font-size: 40px;}
.icon-play {background: url(../images/btn-play.png) no-repeat; width: 56px; height: 56px; display: inline-block; text-indent: -9999em;}
.icon-play-lg {background: url(../images/btn-play-lg.png) no-repeat; width: 112px; height: 112px; display: inline-block; text-indent: -9999em;}
.icon-gallery {background: url(../images/btn-gallery.png) no-repeat; width: 56px; height: 56px; display: inline-block; text-indent: -9999em;}
.icon-play-video {background: url(../images/icon-play-pause.png) no-repeat; width: 112px; height: 112px; display: inline-block; text-indent: -9999em;}
.icon-pause-video {background: url(../images/icon-play-pause.png) no-repeat 0 -112px; width: 112px; height: 112px; display: inline-block; text-indent: -9999em;}
.sub-nav {width: 100%; height: 45px; padding: 14px 0; font-size: 13px; background: #fff;}
.sub-nav-spacer {height: 45px;}
.sub-nav.nav-fixed {position: fixed; top: 0; z-index: 5; opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.4);
}
.sub-nav.nav-fixed.hide {opacity: 0; 
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.sub-nav li.logo-small {margin-top: -10px; display: none;}
.nav-fixed li.logo-small { display: block;}
.nav-fixed li.logo-small a {opacity: 1;}

.sub-nav li.active a {color: #bea772;}
.sub-nav li a.active {color: #bea772;}
.sub-nav li {float:right; padding-right: 38px; transition: padding 0.2s ease 0s;}

.scroll-top-link {
	background: #000 url(../images/arrow-scroll-top.jpg) no-repeat center center;
	width: 70px;
	height:40px;
	display: none;
	position: fixed;
	right:0;
	bottom:36%;
	color: #fff;
	font-size: 25px;
	padding: 6px 0 0 7px;
	text-align: left;
}

.right-column {
	width: 49%;
	float:right;
}

.left-column {
	width: 49%;
	float:left;
}

.clear {clear: both;}

.v-align {display: none;}

/* Background Colors */
.bg-color-grey {background: #252525;}
.bg-color-lt-grey {background: #555555;}
.bg-color-br-green {background: #07ba96;}
.bg-color-black {background: #000;}
.bg-color-purple {background: #611e51;}
.bg-color-orange {background: #fd5234;}
.bg-color-blue {background: #024567;}
.bg-color-white {background: #ffffff;}

.box {text-align: center; color: #fff;}
.box h3 {font-size: 24px; line-height: normal; margin: 0 0 21px; color: #fff; letter-spacing: 2px;}
.box p {color: #fff; margin-bottom: 20px;}
.box a {color: #fff; display: block; width: 100%; height: 100%;}
.box p a {display: inline;}

/* Three Blocks */
.block-row {position: relative; top: -32px;}
.block-row .block {display: inline-block; width: 280px; margin: 0 25px; text-align: center; background: transparent; vertical-align: top;}
.block-row .block div {position: relative;}
.block-row img {max-width: 100%;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
}
.block-row span {position: absolute; bottom: 20px; right: 20px; display: block;}
.block-row h4 {margin: 36px 0 18px;}

/* Grid */
.grid-intro {position: absolute; top: -48px; left: 220px; z-index: 1; width: 332px; height: 153px; background: #000; padding:10px;}
.grid-intro .inner {position: relative; border: 1px solid #fff; height: 100%; color: #fff; text-align: center; padding: 22px;}
.grid-intro h3 {font-size: 24px; letter-spacing: 2px; margin-top: 7px;}
.arrow {position:absolute; bottom: -18px; left: 42.5%; width: 0; height: 0; border-left: 24px solid transparent; border-right: 24px solid transparent; border-top: 24px solid #bea772;}
.grid.home-grid { margin-top: 72px;}
.grid.grid-lead {margin-top: 0;}
.grid {position: relative; margin: 100px auto 0;}
.grid .box {position: relative;}
.grid-left {float:left; width: 61.53%;}
.grid-right {float:right; width: 38.47%;}
.grid-bottom {clear:both; width: 100%; overflow: hidden;}
.grid-bottom > div {float: left; width: 50%;}

.grid.home-grid .box .grid-content {top: auto; bottom: -137px; background: rgba(0,0,0,.5); padding: 20px 0;
	transition: bottom .7s ease;
	-moz-transition: bottom .7s ease;
	-webkit-transition: bottom .7s ease;
}
.grid.home-grid .box.hover .grid-content {bottom: 0;
	transition: bottom .7s ease;
	-moz-transition: bottom .7s ease;
	-webkit-transition: bottom .7s ease;
}
.grid.home-grid .box-overlay {opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.grid.home-grid .box.hover .box-overlay {opacity: .25;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.grid.home-grid .grid-content p {margin-bottom: 15px;}
.grid.home-grid .grid-content h3 {margin-bottom: 15px;}

.grid img {max-width: 100%; width: 100%; height: auto;}
.grid-content {position: absolute; height: auto; width: 100%; top:0; padding: 0 38px;}
.grid-content h5 {display: inline-block; letter-spacing: 2px; text-decoration: underline;}


.grid-content h5.no-underline {text-decoration: none;}


a:hover .grid-content h5 {color:#bea772; text-decoration: none;}
.grid-content-alt {padding:40px 45px; text-align: left; height: 100%;}
.box-overlay {position: absolute; top: 0; width:100%; height: 100%; background: #000; opacity: .25;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;	
}
.box-overlay:hover {opacity: 0;}

.grid-design-1.cat-pull-grid.small-grid {margin-top: 60px;}
.small-grid {position: relative; margin-top: -395px;}
.small-grid li {width: 330px; padding: 0 25px;}
.small-grid a:hover h3 {color: #000;}
.small-grid a:hover h3 span {color: #bea772;}
.small-grid li .text-wrapper {width: 85%;}
.small-grid-alt li .text-wrapper {margin: 0 auto 50px; padding: 28px 10px 10px; background: none; border: none; box-shadow: none;}
.small-grid-alt li .text-wrapper h3 {letter-spacing: 1px;}
.small-grid h3 {margin-bottom: 15px;}
.small-grid .icon-play {position: absolute; top: 324px; right: 47px;}

.white-popup .lead-text {max-width: 560px; margin: 0 auto;}
.white-popup h1 {margin: 10px 0 28px;}
.white-popup .popup-content {margin-top: 24px;}
.remove-product-modal {
	text-align: center;
}
.remove-product-modal .baron-normal {
	font-size: 24px;
}

.remove-product-modal .calson-book-italic {
	font-size: 14px;
	padding: 8px 0;
}

.remove-product-modal .buttons-set {

	text-align: center;
	padding-bottom: 30px;
}

.remove-product-modal .buttons-set button {
	float:none;
	letter-spacing: 2px;
	padding: 0;
	width: 225px;
}

.remove-product-modal .btn-remove-modal {
	margin-left: 10px;
}

.remove-product-modal .buttons-set button.button.btn-continue {
	margin-right: 10px;
	margin-left: 0;
}

/* Tab Content */
.tab-nav {height: 70px; padding: 25px 0 0;}
.tab-nav li {display: inline-block; height: 100%; padding: 0 20px;}
.tab-nav li a {font-size: 12px;}
.tab-nav li.active a {display: inline-block; height: 100%; color: #bea772; background: url(../images/arrow-nav.png) no-repeat center bottom;
	transition: background-image 1.2s ease;
	-moz-transition: background-image 1.2s ease;
	-webkit-transition: background-image 1.2s ease;
}

.tab-content {}
.tab {display: none;}
.active-tab {width: 100%; height: 100%; display: block;}
.tab ul {opacity: 0; 
	transition: opacity 1.2s .25s ease;
	-moz-transition: opacity 1.2s .25s ease;
	-webkit-transition: opacity 1.2s .25s ease;
}
.active-tab ul {opacity: 1; 
	transition: opacity 1.2s .25s ease;
	-moz-transition: opacity 1.2s .25s ease;
	-webkit-transition: opacity 1.2s .25s ease;
}

/*#gridview-container .tab {opacity: 0; position: absolute; left: 0; width: 1000px;
	transition: opacity 1.2s ease;
	-moz-transition: opacity 1.2s ease;
	-webkit-transition: opacity 1.2s ease;}
#gridview-container .active-tab {opacity: 1;
	transition: opacity 1.2s ease;
	-moz-transition: opacity 1.2s ease;
	-webkit-transition: opacity 1.2s ease;}*/

.tab .grid-content {opacity: 0; }
.active-tab .grid-content {opacity: 1; overflow: auto; }

.active-tab .grid-content a { height:auto; }

.tab .grid {margin-top: 0;}
.tab .grid-content h2, .grid-content .gr-txt h2 {margin-bottom: 20px;}
.tab .grid-content p, .gr-txt p {line-height: 23px;}
.tab .grid-content a {text-decoration: underline;}

/* Sections */
.section-page {max-width: 1440px; min-width: 1200px; margin: 58px auto 0; text-align: center;}
.section-banner img {max-width: 100%;}
.section-lead-text,
.section-lead-text-white {display: inline-block; margin: 0 auto;}
.section-lead-text p {width: 335px;}
.section-lead-text-white p { width: 600px; color:#fff;}

.section-page h2, .gr-txt h2 {font-size: 24px; margin-bottom: 20px;}
.title-para {display:block; margin-bottom:10px; }
.btm-txt {padding-top: 25px;}
.section-btm-container {background: #fff; height: 280px; margin-top: -280px;}
.section-btm-container-alt {background: #fff; height: 325px; margin-top: -325px;}
.section-banner .section-content {margin-top: -405px;}
.section-banner {color: #fff;}

.section-alt {background: #fff; margin-top: 0; padding-top: 40px; width: 100%; max-width: none;}
.section-alt .section-content {max-width: 1440px; min-width: 1200px; margin: 0 auto;}
/* ======================================================================================= */


/* Flexslider ================================================================================= */
.flexslider {position: relative;}
.flex-control-nav {position: absolute; z-index: 1;}
.flex-control-nav a {text-decoration: none;}
/* ======================================================================================= */

/* Home Flexslider ================================================================================= */
.flexslider-global.flexslider-home {height: 498px;}
.flexslider-global.flexslider-home li {height: 498px;}

/* Global Flexslider ================================================================================= */
.flexslider-global { margin: 0 auto; overflow: hidden;}
.flexslider-global li > img {display:block; width: 2400px;}
.flexslider-global li {position: relative; height: 100%; }
.flexslider-global .slide-content {position: absolute; top: 0; left: 0; right: 0; width: 1000px; height: 100%; margin: 0 auto; color: #fff;}
.flexslider-global .slide-content img {float: left;}
.flexslider-global .flex-control-nav a:hover {cursor: pointer;}
.flexslider-global .slide-content .inner {width: 380px; margin-left: 425px;}
.slide-content h2 {font-size: 45px; line-height: 47px; color: #fff;} 
.slide-content p {color: #fff; margin: 30px 0;}
.flexslider-global .flex-control-nav {top: 190px; left: 100px; border-left: 1px solid #464646;}
.flexslider-global .flex-control-nav li {height: 30px; margin:0; padding:0; margin-left: -1px;}
.flexslider-global .flex-control-nav li.flex-active {border-left: 1px solid #bea772;}
.flexslider-global .flex-control-nav a span {font-size: 14px; line-height: 40px; color: #fff; left:15px; }
.flexslider-global .flex-control-nav li a span.regular-text {position: absolute; opacity:0.2; display:block;}
.flexslider-global .flex-control-nav li a span.gradient-text { 	
	position:relative; 
	opacity: 0;
	overflow: hidden;
	display: block; 
	width: 0%;       
}
.flexslider-global .flex-control-nav li.flex-active a span.regular-text {opacity: 1;}
.flexslider-global .flex-control-nav li.flex-active a span.gradient-text {opacity: 1; color:#bea772;}
/* ======================================================================================= */

/* Regular Flexslider ================================================================================= */

.flexslider-regular {
	width: 941px;
	margin:0 auto;
	position: relative;
}

.flexslider-regular .flex-direction-nav li a {
	top:40%;
	display: block; 
	position: absolute; 
	width: 10px; 
	height: 17px; 
	color: #fff; 
	margin-top: 0;
}

.flexslider-regular li {
	margin-right: 50px;
	padding: 0;
}

.flexslider-regular .flex-direction-nav  {
	overflow: hidden;
}

.flexslider-regular li {

}

/* Event Flexslider ================================================================================= */
.flexslider-event {position: absolute; top: 0; left: 0; width: 1000px; height: 700px; opacity: 0; visibility: hidden; overflow: hidden;
	transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-webkit-transition: opacity .3s linear;	
}
.flexslider-event.open-slideshow {visibility: visible; opacity: 1;
	transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-webkit-transition: opacity .3s linear;	
}
.flexslider-event ul.slides li {position: relative; height: 700px;}
.flexslider-event li > img {width: 100%;}
.flexslider-event .slide-content {position: absolute; bottom: 0; top: inherit; width: 100%; height: auto; min-height: 160px; padding: 35px 60px; background: rgba(0, 0, 0, 0.7); color: #fff;
	/*transition: opacity 1s .5s linear;
	-moz-transition: opacity 1s .5s linear;
	-webkit-transition: opacity 1s .5s linear;*/
}
.flexslider-event .flex-active-slide .slide-content {
	/*transition: opacity 1s .5s linear;
	-moz-transition: opacity 1s .5s linear;
	-webkit-transition: opacity 1s .5s linear;*/
}
.flexslider-event .slide-content p {width: 300px; margin: 0 auto; text-align: left;}
.flexslider-event .slide-info {float: left;}
.flexslider-event .close-slide {float: right; font-family: 'Avenir LT W01 35 Light'; font-size: 13px; font-weight: normal; font-style: normal; cursor: pointer;}

.flexslider-event .flex-direction-nav li a {display: block; position: absolute; top: 49%; width: 10px; height: 17px; color: #fff; margin-top: 0;}

.flexslider-event .flex-direction-nav a.flex-prev,
.flexslider-regular .flex-direction-nav a.flex-prev,
.flexslider-press .flex-direction-nav a.flex-prev,
.flexslider-lg .flex-direction-nav a.flex-prev {background: url(../images/flex-arrow-left.png) no-repeat; left: 60px;}

.flexslider-event .flex-direction-nav a.flex-next,
.flexslider-regular .flex-direction-nav a.flex-next,
.flexslider-press .flex-direction-nav a.flex-next,
.flexslider-lg .flex-direction-nav a.flex-next {background: url(../images/flex-arrow-right.png) no-repeat; right: 60px;}

.flexslider-regular .flex-direction-nav a.flex-prev {left:-50px;}
.flexslider-regular .flex-direction-nav a.flex-next {right:-50px;}

.flexslider-press .flex-direction-nav li a, 
.flexslider-lg .flex-direction-nav li a { top:48%; display: block; position: absolute; width: 10px; height: 17px; color: #fff; margin-top: 0; }

.flexslider-press .flex-direction-nav a.flex-prev,
.flexslider-lg .flex-direction-nav a.flex-prev {left:-40px;}

.flexslider-press .flex-direction-nav a.flex-next,
.flexslider-lg .flex-direction-nav a.flex-next {right:-40px;}

.flexslider-blk-nav .flex-direction-nav a.flex-prev {background: url(../images/flex-arrow-left-blk.png) no-repeat;}
.flexslider-blk-nav .flex-direction-nav a.flex-next {background: url(../images/flex-arrow-right-blk.png) no-repeat;}


.flexslider-regular.flexslider-blk-nav .flex-direction-nav li a { top: 43%;}

/* ======================================================================================= */

/* Share Section ================================================================================= */
.section-share {height: 460px;}
/* ======================================================================================= */

/* Issue Section ================================================================================= */
.section-issue {position: relative; margin: 0 auto;}
.section-issue img {width: 100%;}
.issue-content {position: absolute; top: 20%; left: 40%;}
.issue-box {background: #bea772; width: 333px; height: auto; padding: 10px; margin: 0 auto;}
.issue-box .inner {border: 1px solid #fff; height: 100%; color: #fff; text-align: center; padding: 40px;}
.issue-box a {text-decoration: underline;}
.issue-box-description {width: 333px; height: auto; background: rgba(0, 0, 0, .7); margin: 0 auto; padding: 28px;}
.issue-box-description h4 {margin-bottom: 15px;}
.link {text-decoration: underline;}
.link:hover {color:#bea772; text-decoration: none;}
/* ======================================================================================= */

.section-printing {margin: 28px auto 0;}
.section-printing .grid-design-1.cat-pull-grid.small-grid {margin-top: 20px;}
.section-printing .small-grid {border-bottom: 1px solid #d7d7d7; padding-bottom: 20px;}
.section-printing .flexslider-regular.flexslider-blk-nav .flex-direction-nav li a {top: 36%;}

/* Event Section ========================================================================= */
.section-events .section-content {background: #000; max-width: none;}

.event-tab {position: relative; max-width: 1440px; height: 700px; margin: 0 auto; color: #fff; z-index: 1;}
.event-tab img {max-width: 100%;}
.event-tab .tab {position: absolute; top: 0; left: 200px; width: 1072px; height: 100%; /*display: none;*/
	transition: visibility .4s ease-in-out;
	-moz-transition: visibility .4s ease-in-out;
	-webkit-transition: visibility .4s ease-in-out;
}
.left-col {background: #000; width: 402px; height: 100%; text-align: left; float: left; padding: 168px 0 0 24px;}
.left-col a {color: #fff; text-decoration: underline;}
.left-col .cta {margin-top: 50px;}
.main-col {float: left; width: 670px; text-align: center; padding: 112px 10px 20px;}
.main-col h2 {margin-bottom: 15px;}
.main-col div.left,
.main-col div.right {padding: 10px; width: 50%;}
.main-col h5 {margin-top: 30px;}
.main-col a {margin-top: 30px;}
.event-tab #allpress-tab {display: block;}
.event-tab .active-tab {display: block; z-index: 2;
	transition: visibility .4s ease-in-out;
	-moz-transition: visibility .4s ease-in-out;
	-webkit-transition: visibility .4s ease-in-out;
}

/* ======================================================================================= */

/* Support Section ========================================================================= */
.section-support .section-lead-text p {width: 460px;}
/* ======================================================================================= */

/* Collaborate Section ========================================================================= */
.section-collaborate p {width: 480px;}
/* ======================================================================================= */

/* Cart ================================================================================= */
.tray-block .block-content ol {border-bottom: 1px solid #e1e1e1;}
.tray-block .block-content .subtotal {border-top: 1px solid #e7e7e7; padding: 16px 20px 0; overflow: hidden;}
.tray-block .block-content .subtotal .label {float: left; font-family:'Avenir LT W01 95 Black'; font-size: 12px; letter-spacing: 1px;}
.tray-block .block-content .subtotal .price {float: right; font-family:'Avenir LT W01 35 Light'; font-size: 12px;}
.tray-block .actions {padding: 16px 20px 0;}
.tray-block .actions button {width: 100%;}
.tray-block .actions button.button span, .tray-block .actions button.button span span {background: none;}
.tray-block .inner-wrapper {padding: 15px 0 10px 2px;}
.tray-block .inner-wrapper .icon-cancel {float: left; margin-left: 15px; cursor: pointer;}
.tray-block .block-content .item {padding: 20px 25px;}
.tray-block .block-content .item.last {padding-bottom: 0;}
.mini-products-list .product-details tr {display: inline-block;}
/* ======================================================================================= */

/* Artistry ======================================================================================= */
.artistry-nav {width: 1000px; margin: 0 auto;}
.nav-fixed .artistry-nav li { padding-right: 27px;}
.artistry-nav li:first-child {padding-right: 0;}
.logo-small a {
	background: transparent url('../images/symbol.png') center center no-repeat;
    background-image: linear-gradient(transparent, transparent), url('../svg/symbol.svg');
	background-position: center center;
	width: 33px;
	height:35px;
	display:block;
}

.single-slide-wrapper {
	overflow: hidden;
	position: relative;
}

.grid-single-slide.open {
	right:0;
}

.grid-single-slide {
	color: #fff;
	overflow: hidden;
	position: absolute;
	right:-100%;
	top: 0;
	transition: right 0.5s ease 0s;
	padding: 40px;
	height:800px;
	width: 100%;
}

.grid-single-slide .col  {
	float: left;
	margin-right: 35px;
	width: 30%;
}

.grid-single-slide .col p {
	line-height: 22px;
	margin-top: 10px;
}

.grid-single-slide .col h2 {
	font-size: 24px;
}

.fullvidheight {max-height: 2000px !important; }
.lead-banner {position: relative; color: #fff;}
.lead-banner a {color: #fff;}
.lead-banner a:hover {color: #fff;}
.lead-container {position: relative; margin: 0 auto; overflow: hidden; max-height:471px;  -webkit-transition: max-height 1s; -moz-transition: max-height 1s; transition: max-height 1s; }
.lead-container .box-overlay {position: absolute; top: 0; width:100%; height: 100%; background: #000; opacity: .25;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.lead-container:hover .box-overlay {opacity: 0;}
.lead-banner .block {position: absolute; top: 30%; width: 50%; left:0; right:0; margin:0 auto;}
.lead-banner .block-full {position: absolute; top: 40%; width: 100%; left:0; right:0; margin:0 auto;}
.lead-banner .block h3 {font-size: 24px; line-height: normal; margin: 20px 0 21px; color: #fff;}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 9px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.philanthropy-btm {height: 535px; margin-top: -445px;}
.company-btm {min-height: 335px; margin-top: -280px; }

/* Ceci Bio ======================================================================================= */
.col-1440 {position: relative;}
.grid-lead {overflow: hidden; max-width: 1440px;}
.grid-slide {color: #fff; position: absolute; top: 0; right: -886px; /*height: 800px; */overflow: hidden;
	transition: right .5s ease;
	-moz-transition: right .5s ease;
	-webkit-transition: right .5s ease;
}
.grid-slide.open {position: absolute; /*height: 800px;*/ right: 0; overflow: visible;
	transition: right .5s ease;
	-moz-transition: right .5s ease;
	-webkit-transition: right .5s ease;
}
.grid-slide .box-sm {opacity: 1;
	transition: opacity .7s ease;
	-moz-transition: opacity .7s ease;
	-webkit-transition: opacity .7s ease;
}
.grid-slide.open .box-sm {opacity: 0;
	transition: opacity .7s ease;
	-moz-transition: opacity .7s ease;
	-webkit-transition: opacity .7s ease;
}
.grid-slide .grid-left {width: 38.47%}
.grid-slide .grid-right {width: 61.53%; height: 800px; padding: 40px;}
.grid-slide .col {width: 30%; float: left; margin-right: 35px;}
.grid-slide .col:last-child {margin-right: 0;}
.grid-slide .col h2 {font-size: 24px;}
.grid-slide .col p {margin-top: 10px; line-height: 22px;}
.grid-slide a.close,
.grid-single-slide a.close {position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.7); width: 90px; height: 50px; color: #fff; line-height: 50px; text-align: center; z-index: 5; opacity: 0;
	transition: opacity .7s ease;
	-moz-transition: opacity .7s ease;
	-webkit-transition: opacity .7s ease;
}

.grid-slide.open a.close,
.grid-single-slide.open a.close  {opacity: 1;
	transition: opacity .7s ease;
	-moz-transition: opacity .7s ease;
	-webkit-transition: opacity .7s ease;
}
.grid-slide .box-sm {position: absolute; bottom: 0; left: 0;}

/* Timeline */
.timeline-viewport {max-width:100%; margin:0 auto; background: #000;}
.section-timeline {
  background: none repeat scroll 0 0 #fff;
  margin-top: -280px;
  padding-top: 415px;
}
.timeline-viewport {max-width:100%; margin:0 auto; background: #000;  position: relative;}
.timeline-viewport .grid-intro {top:-100px;}
.timeline .grid {margin: 0;}
.timeline .section-year {width: auto; overflow: hidden; float: left;}
.timeline .section-year .grid-col {float: left; height: 553px; width: 333px; display: block;}
.timeline .section-year .grid-col.grid-lg {width: 554px;}
.timeline .section-year .grid-lg {width: 554px; height: 100%; position: relative;}
.timeline .section-year .grid-narrow {width: 333px; height: 100%; float:left; position: relative;}
.timeline .section-year .grid-split {width: 335px; height: 277px; position: relative;}

h2.year { text-align:center; font-family:'ITCCaslon224W01-BookIt'; font-weight: normal; font-style: normal; font-size: 128px; color: #fff; line-height: 105px; margin-bottom: 15px;}
.timeline-viewport .frame {height: 553px; padding: 0; }
.timeline-viewport .frame .slidee { width:13199px; margin: 0; padding: 0; height: 100%; list-style: none;}
.timeline-viewport .frame .slidee li { float: left; margin: 0; padding: 0; height: 100%;}
.timeline-viewport .scrollbar-container { width: 1000px; margin: 0 auto;}
.timeline-viewport .scrollbar { width: 91%; background: url('../images/line.gif') repeat-x center center; margin:5px auto; display: inline-block;}
.timeline-viewport .scrollbar .handle {
    width: 6px;
    height: 33px;
    background: url('../images/icon-scrollbar-handle.png') no-repeat center center;
    cursor: pointer;
}

.timeline-right-txt {
	margin-left: 5px;
}

.timeline-left-txt {
	margin-right: 5px;
}

.timeline-left-txt,
.timeline-right-txt {
	font-size: 14px;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	margin-top: 13px;
}

.timeline-txt {
    font-family: 'baron_neuenormal_50', arial, sans-serif;
    letter-spacing: 1px;
    text-transform: lowercase;
	font-size: 14px;
	color:#fff;
	padding: 0 20px;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	z-index: 1;
}

.timeline-link {
	display: block;
	color:#e6b556;
	margin-top: 20px;
}

.timeline-link:hover {
	text-decoration: underline;
}


/* Calendar Promo */
.calendar-promo {width: 1000px; margin: 0 auto 50px;}

/* Speaking Section */
.section-speaking {padding-bottom: 120px;}
.section-speaking .section-text {width: 670px; margin: 0 auto;}

/* Bottom Container */
.ceci-bio-btm {margin-top: 235px;}

/* ======================================================================================= */

/* Company ======================================================================================= */
.company-nav {width: 758px; margin: 0 auto;}
.company-nav li {float: right; padding-right: 58px;}
.company-nav li:first-child {padding-right: 0;}
.nav-fixed .company-nav li {padding-right: 33px;}
/*.section-mission { max-width:100%; overflow: hidden; background: #faf6f7; text-align: left; padding-top: 0; margin-top: 0; position: relative; min-height: 357px;}
.section-mission .section-content {max-width: 1000px; margin: 0 auto; overflow: hidden;}
.section-mission .right { position: absolute; right:0; top:0;}
.section-mission .left {width: 520px; padding: 60px 0 0;}
.section-mission .left p {font-size: 18px;}
.section-mission .left h2 { margin-bottom: 35px;}
.section-timeline {position: relative; background: #000; max-width: 100%; margin-top: 0;}*/
.section-standard-mission {
	background: #fff;
	overflow: hidden;
}

.section-standard-mission h2 {
	font-size: 24px;
}

.section-standard-mission h3 {
	font-size: 16px;
	margin-bottom: 15px;
}

.top-sm {
	width: 555px;
	margin: 0 auto;
}

.mid-sm {
	width: 855px;
	margin:60px auto;
	overflow: hidden;
	background: url('../images/ceci-sm-logo.gif') center center no-repeat;
}


.mid-sm-blank  {
	width: 855px;
	margin:0 auto;
	padding-bottom: 210px;
	overflow: hidden;
}

.mid-sm-right {
	width: 215px;
	float:right;
	text-align: center;
}

.mid-sm-left {
	width: 215px;
	float:left;
	text-align: center;
}

.mid-sm-row {
	overflow: hidden;
	padding: 25px 0;
}

.cmp-btm-container {
	margin-bottom: 20px;
	height: 350px;
}

.cmp-btm-container .block-row {
	top:-125px;
}
#ceci-awards .section-content { margin-top: -410px; }
#ceci-awards img {width: 100%;}
.fullwidth-image { width: 100%;}
.plain-slides {
	overflow: hidden;
	margin-top: 38px;
}

.plain-slides li .text-wrapper {
	background: none;
	border: none;
	box-shadow: none;
	margin: 0 auto;
	padding: 28px 10px 10px;
}
.plain-slides li .text-wrapper h3 {
	margin-bottom: 10px;
}

/*.section-founded {
	max-width: 100%;
	background: #fff;
	overflow: hidden;
	padding: 50px 0;
}*/

.section-founded .txt-container {
	margin:100px 0 0;
	overflow: hidden;
}

.section-founded .txt-wrapper {
	padding-left: 50px;
	float:left;
	width: 787px;
}

.section-founded .txt-wrapper p {
	text-align: left;
	font-size: 18px;
	margin-bottom: 25px;
}

.section-founded .txt-container > img {
	float:left;
	margin-top: 15px;
}

.section-founded .section-content {
	max-width: 1000px;
	margin:0 auto;
}

.section-founded ul li {
	width: 236px;
	display: inline-block;
	text-align: center;
	vertical-align:top;
	margin-left: 14px;
}

.section-founded ul li:first-child {
	margin-left: 0;
}

.section-founded ul li p {
    font-family:'ITCCaslon224W01-BookIt';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.section-founded ul li span {
	font-size: 24px;
	color:#bea772;
}

.section-founded ul li .title {
	background: #bea772;
	padding: 10px 0;
	font-size: 16px;
	color:#fff;
	margin-bottom: 20px;
	position: relative;
}

.section-founded ul li .title .arrow-down {
	bottom: -7px;
	left:0;
	right:0;
	margin:0 auto;
	position: absolute;
}

.btm-banner-section {
	background: #000;
	width: 100%;
	padding: 15px 0;
}

.promo-black-banner {
	max-width: 1440px;
	min-width: 1200px;
	padding: 20px 20px 25px;
	border:1px solid #bea772;
	text-align: center;
	margin:0 auto;
}

.promo-black-banner h3 {
	font-size: 40px;
	color:#bea772;
	margin: 0 0 10px;
}

.promo-black-banner p {
	font-size: 18px;
	color:#fff;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #bea772;
}

.press-btm-toolbar {
	overflow: hidden;
	margin: 50px 0 0;
	padding: 0 0 0 30px;
	color: #000;
	width: 100%;
	text-align: right;
}

.press-btm-toolbar a {
	text-decoration: underline;
}

.press-btm-toolbar a:hover {
	text-decoration: none;
}

.press-btm-toolbar label {
	padding-left: 10px;
}

.press-btm-toolbar select {
	color:#000;
}

.press-btm-toolbar .btm-tl-link {
	float:left;
	font-size: 14px;
	letter-spacing: 2px;
}

#press-company .section-lead-text p {
	width: 640px;
}

.press-nav {
	background: #fff;
	padding: 0 10px;
	width: 1000px;
	margin:30px auto 35px;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.6);
	box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.6);
}

#gridview-container {
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
}

#gridview-container .tab-content {
	height: 900px;
	position: relative;
}

#gridview-container .active-tab {
	z-index: 1;
}

#gridview-container ul li img {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
}

#gridview-container ul li h3 {
	font-size: 14px;
	padding: 23px 0 0;
}

#gridview-container ul li {

	display: inline-block;
	width: 280px;
	margin: 10px 24px;
	vertical-align: top;
}

.white-popup.press-modal {
	max-width: 1040px;
	padding: 40px 0;
	z-index: 5;
}

.item-image-view {
	max-width: 640px;
}

.item-image-zoom-wrapper {
	margin-bottom: 10px;
}

.item-image-view .modal-container {
	width: 515px;
	margin: 0 auto;
	padding: 10px 0;
}

.item-image-view h4 {
	font-size: 21px;
	margin-bottom: 20px;
}

.item-image-view .calson-book-italic {

	font-size: 20px;
	text-decoration: underline;

}

.mfp-hide.press-modal {
	display: block !important;
	position: absolute;
	bottom: 0;
	visibility: hidden;
	overflow: hidden;
}

.press-modal .left-column {

	float:left;
	width: 472px;
}

.press-modal .right-column {

	float:right;
	width: 472px;
	padding-left: 15px;
	padding-top: 20px;
}

.white-popup.press-modal h3 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 30px;
}

.white-popup.press-modal .modal-container {
	margin: 0;
	overflow: visible;
}

.white-popup.press-modal p {
	margin-bottom: 20px;
}

/*--------------- Quiz Modal ---------------------
`````````````````````````````````````````````````*/
.quiz-modal {
	max-width: 1040px;
	padding: 20px 0;

}

.quiz-modal .modal-container {
	margin-top: 0;
	overflow: visible;
}

.quiz-wrapper {
	text-align: center;
}

.quiz-form-wrapper {
	margin:40px auto 0;
	padding: 50px 0 0;
	border-top: 1px solid #d7d7d7;
	width: 900px;
}

.quiz-modal h3 {
	font-size: 14px;
}

.quiz-modal h4 {
	text-transform: none;
	font-size: 67px;
	margin: 25px 0;
}

.quiz-desc-txt {
	font-size: 22px;
}

.quiz-fields {
	width: 420px;
	margin: 0 auto;
	text-align: left;
}
.quiz-fields h2 {

	margin-bottom: 15px;
}

.quiz-fields ul li {

	margin-bottom: 7px;
}

.quiz-fields label {
	display: block;
    font-family:'Avenir LT W01 65 Medium';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    padding-left: 20px;
}

.quiz-fields label .icheckbox_flat-black {
	margin-left: -20px;
	margin-right: 5px;
}


.quiz-fields .pix-selectable {
	width: 80%;
    font-family:'Avenir LT W01 45 Book';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    margin-left: 20px;

}

.quiz-fields .pix-selectable-trigger:hover {

	color: inherit;
}

.split-field {
	overflow: hidden;
}

.split-field label {

	float:left;
}

.split-field label:first-child {

	margin-right: 25px;
}


/* ```````````````````````````````````````````` */

.press-wrapper {
	padding: 0 40px;
}

.press-thumbs {
	margin-top: 40px;
}
.press-thumbs li {
	display: inline-block;
	border: 1px solid #d7d7d7;
}

.white-popup.timeline-modal,
.white-popup.creative-modal {

	max-width: 1040px;
	padding: 40px 0 0;
	z-index: 5;
}

.mfp-hide.timeline-modal {
	display: block !important;
	position: absolute;
	bottom: 0;
	visibility: hidden;
	overflow: hidden;
}

.mini-title {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.white-popup.timeline-modal h3 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 30px;
}

.white-popup.timeline-modal .modal-container {
	margin: 0;
	overflow: visible;
}

.white-popup.timeline-modal p {
	margin-bottom: 20px;
}

.timeline-modal .left-column {

	float:left;
	width: 472px;
}

.timeline-modal .right-column {

	float:right;
	width: 472px;
	padding-left: 15px;
	padding-top: 20px;
}

.timeline-wrapper,
.creative-slide-wrapper {
	overflow: hidden;
	padding: 0 40px 40px;
	text-align: center;
}

/* =======================================================================================*/
/* Contact Us ============================================================================*/


.contact-us-container {
	padding: 40px 0;
	width: 1049px;
	margin: 0 auto;
}

.cnt-btm-section {
	margin: 60px 0 0;
	overflow: hidden;
}

.cnt-btm-section h2 {
	font-size: 16px;
}

.cnt-btm-section h5 {
	margin-bottom: 2px;
}

.cnt-btm-section p,
.cnt-btm-section h2 {
	margin-bottom: 1.6em;
}

.contact-us-container p {
	line-height: 20px;
	font-size: 13px;
}


/* ======================================================================================= */

/* Terms ======================================================================================= */
.general-page {overflow: hidden;}
.col-left {width: 230px; margin-top: 28px;}
.left-nav {background: #fbfbfb; text-align: left; border-radius: 6px; border-left: 1px solid #f4f4f4;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    1px 1px 2px 0 rgba(50, 50, 50, 0.4);
	box-shadow:         1px 1px 2px 0 rgba(50, 50, 50, 0.4);
}

.left-nav ul {padding: 20px; border-bottom: 1px solid #d7d7d7;}
.left-nav ul:last-child {border-bottom: 0;}
.left-nav li {font-family:'Avenir LT W01 35 Light'; font-size: 12px; font-weight: normal; font-style: normal; letter-spacing: 1px; margin-bottom: 16px;}
.left-nav li:first-child {margin-bottom: 15px;}
.left-nav li:last-child {margin-bottom: 0;}
.col-right {width: 870px; margin-bottom: 80px; padding-right: 20px;}
.col-section {text-align: left; margin: 48px auto 0;}
.col-section ul {list-style-type: disc; padding-left: 15px;}
.col-section ul.list-item-design-1 {list-style-type: none;}
.col-section li {margin-bottom: 15px;}
.col-section h2 {font-size: 18px; margin-bottom: 25px;}
.col-section h3 {font-family:'ITC Caslon 224 W01 Book'; font-weight: normal; font-style: normal; font-size: 14px; text-transform: uppercase; margin: 20px 0 2px;}
.terms-table {border-top: 2px solid #fbfbfb;}
.terms-table thead {background: #fbfbfb;}
.terms-table th {height: 40px; text-align: center; vertical-align: middle;}
.terms-table th.align-left {text-align: left; padding-left: 25px;}
.terms-table tr {border-right: 2px solid #fbfbfb; border-left: 2px solid #fbfbfb; border-bottom: 3px solid #fbfbfb;}
.terms-table td {height: 60px; padding: 10px 0; vertical-align: middle; font-size: 13px;}
.terms-table tr td:first-child {padding-left: 25px;}
span.check {background: url(../images/check.png) no-repeat center center; width: auto; height: 17px; display: block}
.custom-table {margin-top: 20px;}

/* ======================================================================================= */

/* Footer ================================================================================= */
.footer {color: #fff;}
.footer h3 {position: relative; background: #252525; line-height: normal; text-align: center; margin-bottom: 22px;}
.footer h3 span {position: relative; z-index: 1; padding: 0 46px; background: #252525;}
.footer h3:before {background:#464646; content:""; display: block; height: 1px; position: absolute; top: 50%; width: 100%;}
.footer ul {width: 165px; margin: 0;}
.footer ul li:first-child {font-family: 'baron_neuenormal_50', arial, sans-serif; letter-spacing: 1px; text-transform: lowercase; margin-bottom: 10px;}
.footer ul li {font-size: 14px; margin-bottom: 2px;}
.footer a {font-size: 10px; letter-spacing: 1px; color: #fff;}
.footer a:hover {color: #bea772;}
.footer .left img {margin: 2px 0 10px;}
.footer .left p, 
.footer .left a {padding-left: 42px;}
.footer ul.second {width: 235px;}
.footer ul.third {width: 152px;}
.footer ul.last {width: 334px; font-size: 12px; overflow: visible;}
.footer ul.last li:first-child {padding-left: 42px; margin-bottom: 12px;}
.footer ul.last a {color: #cab78e; font-size: 12px; text-decoration: underline;}
.footer ul.last .right {width: 168px;}
.footer ul.last .right p {margin-bottom: 25px;}

ul.social {width: 232px; margin: 0 auto 38px; float: none; overflow: hidden;}
ul.social li {display: inline-block; margin-right: 10px;}
/*ul.social i:before {text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(190,167,114,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;}*/
ul.social li:last-child {margin-right: 0;}
ul.social a {display: inline-block; font-size: 22px; color: #bea772}
ul.social a:hover :before {background: -webkit-gradient(linear, left top, left bottom, from(#252525), to(#bea772)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.footer h1.logo {margin-right: 42px;}
.form-subscribe {width: 170px; padding: 0;}
.form-subscribe .v-fix {padding: 0;}
.form-subscribe input.input-text {width: 128px; height: 45px; font-size:12px; color: #959595; padding: 10px 6px 10px 6px; border: 0;}
.form-subscribe button.button {width: 42px; height: 45px; margin: 0; padding: 0; border-radius: 0; text-align: center; line-height: 45px;}
.footer button.button > span {display: block; background: url(../images/arrow_newsletter.png) no-repeat center center; width: 100%; height: 100%;}

/* ======================================================================================= */

/* Media Queries ================================================================================= */
@media all and (max-width: 1200px) {
	.flexslider-home .slide-content .inner {width: 380px; margin-top: 75px; margin-left: 400px;}
}
/* ======================================================================================= */
