<style>
    ul li {
        list-style-type: none;
        margin-top: 10px;
    }
    ul li.label {
        width: 100px;
        float: left;
        clear: left;
    }
    ul li.data {
        float: left;
    }
    input, select {
        width: 500px;
    }
    div.panel {
        width: 50%;
    }
    #left-panel {
        float: left;
    }
    #right-panel {
        float: right;
    }
</style>
<link rel="stylesheet" href="<?php echo Mage::getBaseUrl('media'); ?>css/fonts.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    label {
        display: inline-block; width: 5em;
    }
    fieldset div {
        margin-bottom: 2em;
    }
    fieldset .help {
        display: inline-block;
    }
    .ui-tooltip {
        width: 210px;
    }
</style>
<?php
$helper = Mage::helper('pixcatalog/svg');
?>
<p><?php echo $helper->getStagingProductsDir(); ?></p>

<div id="left-panel" class="panel">
   <p>Staging: <select id="select-sku">
        <?php $i = 1; ?>
        <?php foreach ($this->getSvgs()['staged'] as $sku => $filename): ?>
            <option data-sku="<?php echo $sku; ?>" value="<?php echo $filename ?>" <?php if ($i++ == 1): ?><?php endif; ?>><?php echo $sku; ?></option>
        <?php endforeach; ?>
    </select></p>
    <p>Done: <select>
            <?php $i = 1; ?>
            <?php foreach ($this->getSvgs()['done'] as $sku => $filename): ?>
                <option value="<?php echo $filename ?>" <?php if ($i++ == 1): ?><?php endif; ?>><?php echo $sku; ?></option>
            <?php endforeach; ?>
        </select></p>
    <p>Bleed lines: <input type="checkbox" id="bleedLineToggle" value="1" /><br />Outer Trim: <input type="checkbox" id="outerTrimToggle" value="1" /><br />Inner Trim: <input type="checkbox" id="innerTrimToggle" value="1" /></p>
    <p><button id="exportasepsbutton">Export as EPS</button> <button id="markasdonebutton">Mark Design as Done</button></p>
    <br /><br />
    <img/>
</div>


<div id="right-panel" class="panel">
    <ul>
        <span id="lineinputs"></span>
        <?php for ($i = 0; $i <= 4; ++$i): ?>
            <li class="label">Color <?php echo $i; ?></li>
            <li class="data">
                <select data-sku="test" data-color="<?php echo $i; ?>" class="personalization-color">
                    <?php for ($r = 0; $r <= 15; $r += 3): ?>
                        <?php for ($g = 0; $g <= 15; $g += 3): ?>
                            <?php for ($b = 0; $b <= 15; $b += 3): ?>
                                <?php $hex = sprintf('%x%x%x', $r, $g, $b); ?>
                                <option><?php echo $hex; ?></option>
                            <?php endfor; ?>
                        <?php endfor; ?>
                    <?php endfor; ?>
                </select>
            </li>
        <?php endfor; ?>
        <?php for ($i = 1; $i <= 5; ++$i): ?>
            <li class="label">Font <?php echo $i; ?></li>
            <li class="data">
                <select data-sku="test" data-font="<?php echo $i; ?>" class="personalization-font">
                    <?php foreach ($this->getFonts() as $font): ?>
                        <option><?php echo $font; ?></option>
                    <?php endforeach; ?>
                </select>
            </li>
        <?php endfor; ?>
    </ul>
</div>