<?php
/**
 * Created by PhpStorm.
 * User: jcymerman
 * Date: 4/3/2015
 * Time: 4:33 PM
 */
$swatchLimit = 4;
$product = $this->getProduct();
$colorways = $product->getColorwayCollection();

?>

<?php if($colorways['Colors']): ?>
    <?php if(count($colorways['Colors']) <= $swatchLimit ): ?>
        <?php foreach($colorways['Colors'] as $colorName => $colorway): ?>
            <?php $attrId = $product->getAttributeIdFromColorName($colorName); ?>
            <?php $attrSku = $product->getSkuFromColorWay($attrId); ?>

            <a  href="#"  class="product-swatch" data-attributeid="<?php echo $attrId ?>" data-attrsku="<?php echo $attrSku ?>" data-attrprice="<?php print Mage::helper('core')->currency( Mage::getModel('catalog/product')->loadByAttribute('sku',$attrSku)->getPrice(),true,false); ?>" data-attrimageurl="<?php echo Mage::getModel('catalog/product')->loadByAttribute('sku', $attrSku)->getImageUrl(); ?>" data-productsku="<?php echo $product->getSku() ?>" id="colorway-<?php echo $colorName; ?>-<?php echo $product->getSku(); ?>">
                <div style="background-color:#<?php echo $colorway; ?>"></div></a>
        <?php endforeach; ?>

    <?php else: ?>

        <?php $count=0; ?>
        <?php foreach($colorways['Colors'] as $colorName => $colorway): ?>
            <?php if($count==$swatchLimit) { break; } ?>
            <?php $attrId = $product->getAttributeIdFromColorName($colorName); ?>
            <?php $attrSku = $product->getSkuFromColorWay($attrId); ?>
            <a  href="#"  class="product-swatch" data-attributeid="<?php echo $attrId ?>" data-attrsku="<?php echo $attrSku ?>" data-attrimageurl="<?php echo Mage::getModel('catalog/product')->loadByAttribute('sku', $attrSku)->getImageUrl(); ?>" data-productsku="<?php echo $product->getSku() ?>" id="colorway-<?php echo $colorName; ?>-<?php echo $product->getSku(); ?>"><div style="background-color:#<?php echo $colorway; ?>"></div></a>
            <?php $count++; ?>
        <?php endforeach; ?>

        <!-- commented out by pat -->
        <!-- <a href="#" class="product-swatch rainbow" id="colorway-rainbow-<?php //echo $product->getSku(); ?>"><div></div></a> -->

    <?php endif; ?>
<?php endif; ?>


<?php /*
<?php if($colorways['Colors']): ?>
    <?php if(count($colorways['Colors']) <= 3 ): ?>
        <?php foreach($colorways['Colors'] as $colorway): ?>
            <a class="product-swatch"><div style="background-color:#<?php echo $colorway; ?>"></div></a>
        <?php endforeach; ?>

    <?php else: ?>

        <?php for($i=0; $i<=3; $i++): ?>
            <a class="product-swatch"><div style="background-color:#<?php echo $colorways['Colors'][$i]; ?>"></div></a>
        <?php endfor; ?>

        <a class="product-swatch rainbow"><div></div></a>
    <?php endif; ?>
<?php endif; ?>
 */ ?>


<?PHP /*
<?php if($colorways): ?>
<?php $first = true; foreach ($colorways as $i => $colorway): ?>
    <?php //$colors = explode(',', $colorway->getColors()); ?>
    <a class="product-swatch <?php echo ($first) ? 'default' : 'normal'; ?>" <?php if ($i == 0): ?>id="colorway-default-<?php echo $product->getSku(); ?>" <?php endif; ?> data-colors="<?php echo implode(',', $colors); ?>"><div style="background-color: #<?php echo $colors[0]; ?>;"></div></a>
<?php $first = false;endforeach; ?>
<a class="product-swatch rainbow"><div></div></a>
<?php endif; ?>
 */ ?>