<?php

$collectionId = Mage::getModel('catalog/category')
    ->getCollection()
    ->addAttributeToSelect('entity_id')
    ->addAttributeToFilter('name', 'Collections')
    ->addIsActiveFilter()
    ->getFirstItem();

$categories = Mage::getModel('catalog/category')
    ->getCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('parent_id', $collectionId->getData('entity_id'))
    ->setOrder('position', 'ASC')
    ->addIsActiveFilter();

//print_r($categories->getData());
?>

    <ul  class="small-cat-grid grid-design-1">
        <?php foreach($categories as $category): ?>
            <li>
                <a href="<?php print Mage::getUrl('collections/'.$category->getUrlKey().".html"); ?>">
                    <div class="rel-container">
                        <div class="overlay baron-normal cat-link"><span>Discover</span></div>
                        <img alt="<?php print($category->getName()); ?>" src="<?php echo Mage::getBaseUrl('media').'/catalog/category/'.$category->getThumbnail(); ?>">
                    </div>
                    <div class="text-wrapper border-top-<?php echo $category->getCategoryBackground();?>">
                        <div class="bdr-grey">
                            <h3 class="caslon-book"><?php print($category->getDescription()); ?><span class="baron-normal"><?php print($category->getName()); ?></span></h3>
                        </div>
                    </div>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>

            <!--ul class="small-cat-grid grid-design-1">
				<li>
					<a href="#">
						<div class="rel-container">
							<div class="overlay baron-normal"><span>Discover</span></div>
							<img alt="Wedding" src="<?php //echo $this->getSkinUrl('images/external/grid-banner-1.jpg') ?>">
						</div>
						<div class="text-wrapper border-top-brown">
							<div class="bdr-grey">
								<h3 class="caslon-book">Let the Bells Ring <span class="baron-normal">Wedding</span></h3>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="rel-container">
							<div class="overlay baron-normal"><span>Discover</span></div>
							<img alt="Social Parties" src="<?php //echo $this->getSkinUrl('images/external/grid-banner-2.jpg') ?>">
						</div>
						<div class="text-wrapper border-top-purple">
							<div class="bdr-grey">
								<h3 class="caslon-book">A Night to Remember <span class="baron-normal">Social Parties</span></h3>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="rel-container">
							<div class="overlay baron-normal"><span>Discover</span></div>
							<img alt="Baby &amp; Kids" src="<?php //echo $this->getSkinUrl('images/external/grid-banner-3.jpg') ?>">
						</div>
						<div class="text-wrapper border-top-orange">
							<div class="bdr-grey">
								<h3 class="caslon-book">The Little Thins <span class="baron-normal">Baby &amp; Kids</span></h3>
							</div>
						</div>
					</a>
					</li>
				<li>
					<a href="#">
						<div class="rel-container">
							<div class="overlay baron-normal"><span>Discover</span></div>
							<img alt="Home &amp; Gifts" src="<?php //echo $this->getSkinUrl('images/external/grid-banner-4.jpg') ?>">
						</div>
						<div class="text-wrapper border-top-red">
							<div class="bdr-grey">
								<h3 class="caslon-book">Where The Heart Is <span class="baron-normal">Home &amp; Gifts</span></h3>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="rel-container">
							<div class="overlay baron-normal"><span>Discover</span></div>
							<img alt="Personal Stationery" src="<?php //echo $this->getSkinUrl('images/external/grid-banner-5.jpg') ?>">
						</div>
						<div class="text-wrapper border-top-cyan">
							<div class="bdr-grey">
								<h3 class="caslon-book">Sincerely, Yours <span class="baron-normal">Personal Stationery</span></h3>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="rel-container">
							<div class="overlay baron-normal"><span>Discover</span></div>
							<img alt="Corporate Events" src="<?php //echo $this->getSkinUrl('images/external/grid-banner-6.jpg') ?>">
						</div>
						<div class="text-wrapper border-top-blue">
							<div class="bdr-grey">
								<h3 class="caslon-book">All Buttoned Up <span class="baron-normal">Corporate Events</span></h3>
							</div>
						</div>
					</a>
				</li>
			</ul-->