.facebook-account-login{
	position: relative;
	clear: both;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
.facebook-account-login p{
	font-size:12px;
}
.facebook-checkout-login{
	padding: 20px 20px;
	border-bottom:1px solid #ccc; 
}