<?php

// Get the parent node id //
$connection = Mage::getSingleton('core/resource')->getConnection('core_read');
$sql        = "SELECT node_id FROM enterprise_cms_hierarchy_node WHERE request_url='customer-care'";
$nodeID       = (int)$connection->fetchOne($sql); //fetchRow($sql), fetchOne($sql),...

// Get the menu items //
$menuItems = Mage::getModel('enterprise_cms/hierarchy_node')->getCollection()
        ->addFieldToFilter('parent_node_id', $nodeID)
        ->setOrder('main_table.sort_order', 'ASC');

// Join to cms_pagbe table to get page title any other relevant attributes //
$menuItems->getSelect()
        ->joinLeft(array('cp' => 'cms_page'), 'main_table.page_id = cp.page_id');

$currentUrl = Mage::helper('core/url')->getCurrentUrl();

?>
    <div class="left-nav">
        <ul id="cms-navigation">
            <?php $count = 1; ?>
            <?php foreach($menuItems as $menuItem): ?>

                <?php $urlParts = explode('/', $menuItem->requestUrl); ?>

                <?php if( $count == 2 ){ ?>
                    <li><a class="baron-normal change-contact-form" href="<?php Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);?>contact-us#makeappointment">Make an Appointment</a></li>
                <?php } $count++; ?>

                <li>
                    <a class="baron-normal <?php echo (stripos($currentUrl, $urlParts[1])) ? 'active' : ''; ?>" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) .  $urlParts[1]; ?>"><?php print $menuItem->title; ?></a>
                </li>

            <?php endforeach; ?>

        </ul>
    </div>
